[2014-04-30 18:23] AEnterprise opened #1 "extracting filled canisters"
Looks like extracting items with a wooden pipe broke

[2014-05-01 11:35] #1 closed, assigned to AEnterprise

[2014-05-05 14:35] AEnterprise opened #3 "adding a way to read how much power is flowing through a pipe"
http://mod-buildcraft.com/forums/index.php?topic=547.msg5530;

[2014-05-07 05:46] AEnterprise opened #6 "fix mcmod.info"
the file won't be ready by mc, i probaly corrupted it somehow

[2014-05-15 07:55] AEnterprise opened #9 "add powered tools"
keeping track of what has been done and has to be done
- [x] add tools
  - [X] base item
  - [X] digger
  - [X] drill
  - [x] chainsaw
  - [x] hoe
  - [x] textures
    - [x] waiting for @CyanideX
  - [x] charging station
    - [x] block
    - [x] tile
    - [x] gui
    - [x] textures

[2014-05-16 15:22] AlexTheGre4t opened #11 "[Bug] Mega drill isn't dropping items."
Using 1.3 DEV. The mega drill will break stone, but won't drop cobblestone.

[2014-05-16 15:31] AlexTheGre4t opened #12 "[Suggestion] Make the Mega Hoe till a 3x3 area."
Maybe switch modes between 1 block and 3x3?

[2014-05-16 15:39] #11 closed, assigned to AEnterprise

[2014-05-17 10:06] #6 closed, assigned to AEnterprise

[2014-05-19 17:18] #3 closed, assigned to AEnterprise

[2014-05-19 19:18] AlexTheGre4t opened #13 "Crash when searching for something in creative."
Tested on BC modpack.  BC additions version 1.2.1.
Whenever i try to search something in the creative menu, it crashes the game. Looking at the crash report (http://pastebin.com/ydnTq1Nj) It seems to point to Buildcraft Additions, im no crash analyst but it seems to highlight BA quite strongly.

[2014-05-20 12:56] #13 closed, assigned to AEnterprise

[2014-05-22 10:41] #9 closed, assigned to AEnterprise

[2014-05-22 11:23] #12 closed, assigned to AEnterprise

[2014-05-24 07:12] ghost opened #15 "crash by open fluidic compressor gui"
log: http://openeye.openmods.info/crashes/f167fa6e57a6b84900e34717b502d0de
BC: 6.0.15
BC Additions: 1.3

[2014-05-24 12:08] #15 closed, assigned to AEnterprise

[2014-05-27 15:23] AEnterprise opened #16 "fix % on fluidic compressor"
the calculation of the % filled is way off

[2014-05-27 17:01] #16 closed, assigned to AEnterprise

[2014-05-27 22:01] mitchcbr-zz opened #17 "Canister Destroyed if Left in Compressor"
I just noticed an issue with your most recent release (1.4). If there's a canister in a fluidic compressor when the compressor is picked up, the canister is destroyed :(

[2014-05-28 12:47] #17 closed, assigned to AEnterprise

[2014-06-02 07:38] AEnterprise opened #21 "durability calculations"
The calculation that sets the durability of the battery is off
see: http://www.minecraftforum.net/topic/2674907-172-buildcraft-additions/page__st__20#entry31755839

[2014-06-03 09:10] AEnterprise opened #22 "incorrect bounding box"
powerplant is overlapping with other structures in the vilagge

[2014-06-03 15:22] #21 closed, assigned to AEnterprise

[2014-06-05 07:20] AEnterprise opened #26 "crash on breaking tree"
not sure what is heapening from the reports, it sure will be modded trees cause i tried the vanilla ones

[2014-06-05 09:13] #26 closed, assigned to AEnterprise

[2014-06-08 07:37] AEnterprise opened #27 "Canisters not stacking in output fluidic compressor"
they should stack

[2014-06-08 07:38] AEnterprise opened #28 "invallid kinetic tool textures"
somewhere something has been overlooked i guessed

[2014-06-10 11:50] #28 closed, assigned to AEnterprise

[2014-06-10 13:50] AEnterprise opened #29 "add version checker (integration)"
adding integration with the version checker mod, and an own system for the users that are not using version checker

[2014-06-11 07:40] AEnterprise opened #30 "dev builds"
trying to make dev builds with travic CI for people to try and help find bugs before releasing

[2014-06-11 08:32] #30 closed, assigned to AEnterprise

[2014-06-12 10:33] AEnterprise opened #31 "forgot a null check"
http://openeye.openmods.info/crashes/191234e93410ae8bc473bb6033cefea6

[2014-06-12 12:41] #31 closed, assigned to AEnterprise

[2014-06-12 14:22] #27 closed, assigned to AEnterprise

[2014-06-12 17:38] #29 closed, assigned to AEnterprise

[2014-06-19 20:24] jubalearly opened #34 "Crash with EnderIO"
---- Minecraft Crash Report ----
// Don't do that.

Time: 6/17/14 4:25 PM
Description: Ticking memory connection

java.lang.ClassCastException: buildcraftAdditions.entities.TileChargingStation cannot be cast to crazypants.enderio.machine.power.TileCapacitorBank
    at crazypants.enderio.machine.power.BlockCapacitorBank.func_149726_b(BlockCapacitorBank.java:240)
    at net.minecraft.world.chunk.Chu

[2014-06-19 20:29] jubalearly opened #35 "Another crash with EnderIO"
Both times it was placing a EnderIO conduit between a Buildcraft Additions Charging station and a EnderIO capacitor bank (on the go charging).  I updated to a Dev version of EnderIO but have not tried it again since world would not load when these crashes occured.  I had to remove BuildCraft Additions and restart minecraft to make the world loadable.  Then after adding back Buildcraft additions it

[2014-06-20 09:22] #34 closed, assigned to nobody

[2014-06-23 10:38] AEnterprise opened #40 "Sword module"
as sugested by on youtube, i'll probably also need a add a new upgrade stick so that can be installed with the other upgrades

[2014-06-23 14:16] #35 closed, assigned to nobody

[2014-06-26 07:05] AEnterprise opened #41 "Tier 1 smelting"
furnace + tier 1 coils, will work together in a multiblock to smelt stuff like in a furnace

[2014-06-26 07:07] AEnterprise opened #42 "Tier 1 duster"
machine that will make dust from your ores, fully manual. You place the item in the duster and keep jumping on it until it spits out your dusts. piping in items will not be possible as this is low tech

[2014-06-27 14:15] #41 closed, assigned to AEnterprise

[2014-06-27 14:47] #42 closed, assigned to AEnterprise

[2014-06-28 15:22] iTitus opened #46 "Duster bugs"
First: No texture
Second: You can shift stacks of things into it
Third: Ores give only one dust
Do you want more?
Fourth: Coils are not rotated properly (No worries, im working on that)
Fifth: Dusts have no texture (Maybe one Base dust texture and then Color multiplier)
Hmm more I did not find but this was only 3 mind of playtime ;)

[2014-06-28 17:25] #40 closed, assigned to AEnterprise

[2014-06-28 19:11] iTitus opened #47 "Suggestion"
How about a ranged weapon like a powered bow or a gun (something like this) with modules, and projectiles(maybe modular too)

[2014-06-29 18:09] #46 closed, assigned to AEnterprise

[2014-07-01 19:52] AEnterprise opened #56 "Engineer diary"
A 'book' where the knowledge of the player in the Eureka system is recorded, the player will need to write down all his knowledge in there and 'memorize' it

[2014-07-23 15:02] labpaw opened #62 "Localize config"
Title says it all.

[2014-07-23 23:18] whopperman44 opened #63 "Alt Tabing problems crashes when tab"

[2014-07-23 23:19] whopperman44 opened #64 "Alt Tabing problems"
Whenever  I Alt Tab out even for a few seconds my game crashes. How can I fix this please help.

[2014-07-24 09:19] #63 closed, assigned to nobody

[2014-07-24 09:21] AEnterprise opened #65 "duster needs textures"
looks like the AE2 grindstone is using the buildcraft additions dusts as output, so eighter the dusts should have a config option to turn them off or they need textures

[2014-07-24 15:05] #65 closed, assigned to nobody

[2014-07-24 16:17] iTitus opened #67 "Eureka crash - NPE with Persisted Tag"
i was trying to process gold ore with the basic duster. After I jumped five times it crashed. Right after the dust EntityItems were spawned.

Crash Report: https://gist.github.com/iTitus/4e7ff2373fc6000af0e7

[2014-07-25 07:30] AEnterprise opened #68 "crash when rightclicking on buildcraft oil"
reported by Phuizour on irc
no crash when clicking other fluids
http://pastebin.com/JbHne8mq

[2014-07-25 08:16] #68 closed, assigned to AEnterprise

[2014-07-25 09:09] iDutch opened #69 "Fluidic Compressor Crash"
Game crashes as soon as I'm putting down a Fluidic Compressor

[code]

[2014-07-25 09:15] #69 closed, assigned to nobody

[2014-07-26 09:27] #67 closed, assigned to AEnterprise

[2014-07-26 12:21] AEnterprise opened #70 "config option to dissable dusters for modpacks"
adding a config option so modpacks can dissable the dusters in favour of progression in the specific pack

[2014-07-27 15:46] AEnterprise opened #71 "final translation"
@Vexatos @RockJB @Adaptivity @crafteverywhere could you guys please provide translations for the mod? Planning on a release tomorow

https://github.com/AEnterprise/Buildcraft-Additions/blob/master/src/main/resources/assets/bcadditions/lang/en_US.lang

[2014-07-27 18:25] #71 closed, assigned to nobody

[2014-07-27 18:25] #70 closed, assigned to AEnterprise

[2014-07-27 18:26] #64 closed, assigned to nobody

[2014-07-28 09:46] AEnterprise opened #80 "add tinkers construct integration"
some ores are not supported, others sometimes drop the wrong dusts

[2014-07-29 14:28] AEnterprise opened #81 "sided stuff for heated furnace"
wooden pipes and hoppers on the bottom of the heated furnace extract stuff from the first slot (input)

[2014-07-31 19:50] AEnterprise opened #82 "translate the engineering diary"
@Vexatos @Adaptivity @crafteverywhere

the eureka book has been fully implemented and thansk to RockJB there is now a written storry behind the machines. but these need translating if possible, i made the book kinda dynamic to, the number of pages is not hardcoded intro the code or anything, it is determined by the localizations, to determine if there is a next page or not it just tries to localiz

[2014-08-01 07:26] Morrwan opened #83 "Forestrys Tin ore in the duster outputs copper dust"

[2014-08-01 09:56] #83 closed, assigned to AEnterprise

[2014-08-02 15:50] kreezxil opened #85 "rightclicking crashes client with internal server error"
http://pastebin.com/DZf3GhpW

I am using buildcraft 6.0.17 with cauldron build 127 and bc addtions 1.6.1

[2014-08-03 18:09] #56 closed, assigned to AEnterprise

[2014-08-03 18:09] #85 closed, assigned to nobody

[2014-08-04 14:33] #62 closed, assigned to AEnterprise

[2014-08-05 07:45] Juput opened #90 "Crash report - added translation es_ES.lang"
http://pastebin.com/vdEErcNz

[2014-08-05 09:50] #90 closed, assigned to nobody

[2014-08-05 10:06] #80 closed, assigned to AEnterprise

[2014-08-05 22:12] haighyorkie opened #94 "Crash on opening the book"
http://pastebin.com/G7kyEisw

Does not replicate on a client but I get this playing on a server. If you need any other info please let me know

[2014-08-06 07:02] #94 closed, assigned to nobody

[2014-08-06 11:29] Juput opened #97 "Crash report - added translation es_ES.lang"
---- Minecraft Crash Report ----
// Shall we play a game?

Time: 6/08/14 13:28
Description: Rendering screen

java.lang.ArrayIndexOutOfBoundsException: 20
    at eureka.client.gui.GuiEngineeringDiary.drawTextAtLine(GuiEngineeringDiary.java:118)
    at eureka.client.gui.GuiEngineeringDiary.writeText(GuiEngineeringDiary.java:134)
    at eureka.client.gui.GuiEngineeringDiary.func_146979_b(GuiEngineer

[2014-08-09 15:16] AEnterprise opened #101 "dusts only stacking up to 4 in a chest"
as seen here:
https://www.youtube.com/watch?v=yYqyRBAcXcU

[2014-08-10 08:12] #101 closed, assigned to AEnterprise

[2014-08-10 10:01] #97 closed, assigned to nobody

[2014-08-10 16:54] madshammy opened #103 "Engineering diary Server crash"
When I open the Engineering Diary it will crash the server.  It is fine in single player but on server play it drops every time.   Here is a pastebin of the code http://pastebin.com/PQNip8Qg

[2014-08-10 19:30] #103 closed, assigned to nobody

[2014-08-13 05:20] wormzjl opened #104 "Eureka server startup crash - calling clinet side class"
http://pastebin.com/CQ00C2pP

[2014-08-28 16:25] #104 closed, assigned to nobody

[2014-08-31 13:25] #82 closed, assigned to nobody

[2014-08-31 13:38] AEnterprise opened #106 "some blocks disapear when broken with the kinetic multi-tool"
some blocks (stone bricks only one reported put there are probably more) don't drop when broken with the kinetic-multi tool

[2014-09-03 13:10] #81 closed, assigned to AEnterprise

[2014-09-04 17:50] AlexTheGre4t opened #108 "Use the OreDictionary for slime balls in the duster recipes."
⌃

[2014-09-05 14:44] AlexTheGre4t opened #109 "Forestry ores in the SemiAutomatic Duster display funny"
On MC: The Next Generation, I finally got to a semi-automatic duster. I started to process my forestry copper and tin with it, and found a small issue. When placing the ores on the duster, they look like they turn into forestry apatite ore. Processing yields the correct dust, just a visual glitch.

[2014-09-06 09:32] #108 closed, assigned to AEnterprise

[2014-09-07 08:35] AEnterprise opened #111 "common duster recepies"
add recepies for stone-> cobble, cobble-> sand and stuff like that

[2014-09-20 00:51] Dyonovan opened #113 "Eureka Trying to treat BC Autocrafting Table as a player"
Crashlog: http://pastebin.com/RAQMZZ3d

[2014-09-20 08:07] #113 closed, assigned to nobody

[2014-09-28 19:59] Rongmario opened #114 "Client Crash"
http://hastebin.com/amagigizud.pas

[2014-09-29 09:17] #114 closed, assigned to nobody

[2014-10-07 18:43] #109 closed, assigned to AEnterprise

[2014-10-07 18:55] #111 closed, assigned to AEnterprise

[2014-10-19 09:18] JFMillerUSA opened #121 "Mechanical Duster and Engineer Diary"
finally figured out how to hook up Mechanical Duster to Power Plant and it makes dust but the progress bar in Engineer Diary stays at 0.

[2014-10-27 14:18] #121 closed, assigned to AEnterprise

[2014-10-27 16:12] #22 closed, assigned to AEnterprise

[2014-10-27 16:12] #47 closed, assigned to nobody

[2014-10-27 21:34] TheMrCaveman opened #122 "server wont boot with bca on server"
---- Minecraft Crash Report ----
// There are four lights!

Time: 27/10/14 22:10
Description: Exception in server tick loop

cpw.mods.fml.common.LoaderException: java.lang.NoSuchMethodError: cpw.mods.fml.common.registry.VillagerRegistry.registerVillagerSkin(ILnet/minecraft/util/ResourceLocation;)V
    at cpw.mods.fml.common.LoadController.transition(LoadController.java:162)
    at cpw.mods.fml.com

[2014-10-28 10:35] #122 closed, assigned to nobody

[2014-10-31 14:44] CubeWrench202 opened #123 "Heated furnace kill my FPS"
When i powered my Heated furnace my FPS drops so much, it needs some perfomance enhacements.

[2014-11-02 13:22] Shadowhunter82 opened #124 "Crash with BC 6.1.5"
My MC Client crashes with the new Buildcraft 6.1.5 Version
It looks like BuildcraftAdditions is causing the crash.
(With Only Eureka it works fine)

Crash-Report: http://pastebin.com/C4EfQwfk

[2014-11-04 19:07] #123 closed, assigned to nobody

[2014-11-05 11:25] #124 closed, assigned to nobody

[2014-11-05 13:28] Speiger opened #125 "Improvments for Duster Recipe list"
https://github.com/AEnterprise/Buildcraft-Additions/blob/master/src/main/java/buildcraftAdditions/api/DusterRecipes.java#L35

Yeah because you are using ItemStacks the HashMap/ArrayList can not compare it.
Also you can not override Recipes, because every ItemStack is differend then the one before (even if they have the same ingredients).
ArrayLists/HashMaps need to functions for comparing classes.

[2014-11-06 20:08] JakeCWolf opened #126 "BC-Additions Multi-Tool doesn't work..."
I posted this issue on the BC Github, and as asked to post it here as well, basically after fitting an attachment (in my case a saw head) and dropping in a fully powered Kinetic Capsule the Multi-Tool doesn't work, there's no head visible despite it saying it has one attached, it also has power, but nothing happens.

I have no crash report as this bug did not cause one, I am using buildcraft-6.1.5

[2014-11-10 15:13] #126 closed, assigned to AEnterprise

[2014-11-12 21:40] Sailren opened #127 "drill upgrade crash in multitool,"
this happened when i tried to place the drill upgrade into the multitool, i didnt use the integration table for this xD

http://paste.ubuntu.com/8972271/

[2014-11-13 11:18] maqwek opened #128 "Multi-Tool breaks in survival"
When I'm using Multi-Tool in survival mode it breaks and leave 2 Diamonds, Iron Stick and Tool Core.
Buildcraft-Additions 1.7.2
MinecraftForge 10.13.2.1230
BuildCraft 6.1.8 or 6.1.5 ( tested on both )

[2014-11-15 09:37] #128 closed, assigned to AEnterprise

[2014-11-15 13:21] #127 closed, assigned to AEnterprise

[2014-11-15 13:35] #106 closed, assigned to AEnterprise

[2014-11-16 19:26] #125 closed, assigned to AEnterprise

[2014-11-18 21:08] ghost opened #130 "[Request] Cool stuff"
How about having a little json file on github with feature:[usernames] kinda thing?
And do it so it fetches it from here and uses for easter eggs and trolls xD
Like this one below:

[code]

Would be very cool for contributors and random trolls =P
I'm also didn't do much for this mod(except loading something from resourcepacks), so might get into it, or maybe even implement this feature.

[2014-11-19 10:53] #130 closed, assigned to AEnterprise

[2014-11-19 11:00] AEnterprise opened #132 "push to curseforge on compilation"

[2014-11-23 16:42] AEnterprise opened #133 "dusters misbehaving"
as reported in this video

https://www.youtube.com/watch?v=tA1Yu-7Aglk&feature=youtu.be

[2014-11-23 19:51] #133 closed, assigned to AEnterprise

[2014-11-25 19:13] TheMrCaveman opened #135 "server crashed and won't boot anymore."
Server crashed and won't boot with 1.8.1 reverted back to 1.7.2 and server works fine again

1.---- Minecraft Crash Report ----
2.// Ouch. That hurt :(
3.
4.Time: 11/25/14 7:54 PM
5.Description: Ticking block entity
6.
7.java.lang.NullPointerException: Ticking block entity
8.        at buildcraftAdditions.api.DusterRecipes.getDustingResult(DusterRecipes.java:79)
9.        at buildcraftAdditions.ap

[2014-11-26 07:33] #135 closed, assigned to nobody

[2014-11-28 20:11] Lanse505 opened #136 "Crash on Jumping on the Basic Crusher"
1 Jump is all it needs to crash you O:
This has been reproduced 3 times over 3 people.

Crashlog: http://pastebin.com/7tiHTRev

[2014-11-29 12:02] #136 closed, assigned to nobody

[2014-11-29 23:02] Lanse505 opened #137 "Hello!"
Hello!
I can't seem to find your BCA jenkins site :/, could someone point me in the right direction?

[2014-11-29 23:02] #137 closed, assigned to nobody

[2014-11-30 14:30] warpath1985 opened #138 "BC Additions 1.8.1 and blaze rods"
one of my pack testers have run into an issue with blaze rods in the duster corrupted world
will post  report asap

[2014-11-30 16:04] #138 closed, assigned to nobody

[2014-12-05 14:03] #132 closed, assigned to AEnterprise

[2014-12-07 18:21] PyroTornado opened #141 "Fluid compressor Gate Trigger Crashed Server"
Using version 1.8.1, I tried to automate the fluid pipe extraction method. That is, I wanted to move my oil storage to a more secure location, so I utilized two fluid compressor, 12 gold canisters, one diamond canister, and three large tanks. What I wanted to do was to use a hopper on the compressor that would drain into the new area to automatically drain the 12 canisters without having to manual

[2014-12-07 21:02] TheMrCaveman opened #142 "Server crashed after wrong item ended up in duster"
Had to remove BCA and boot up server so all BCA blocks where removed.
So we were able to join the server again. Someone told me this was fixed???

---- Minecraft Crash Report ----
// Shall we play a game?

Time: 12/6/14 3:14 PM
Description: Ticking entity

java.lang.NoSuchMethodError: buildcraft.api.core.Position.writeData(Lio/netty/buffer/ByteBuf;)V
    at buildcraft.core.LaserData.writeData(Lase

[2014-12-08 09:23] #142 closed, assigned to nobody

[2014-12-08 13:42] #141 closed, assigned to nobody

[2014-12-09 13:31] AEnterprise opened #143 "double metals in list"
as reported at https://github.com/AEnterprise/Eureka/issues/17

[2014-12-09 13:32] #143 closed, assigned to AEnterprise

[2014-12-13 14:27] AEnterprise opened #144 "powerplant not generating somhow"
reported on the site and confirmed, need to track this down

[2014-12-21 19:31] Moonchu opened #146 "Config Option to Disable Gated Progression"
In the eureka book. It would be helpful especially since I started playing with the mod later game, but still had to go through the basic tiers.

[2014-12-23 22:55] TheGuyRunningSouth opened #147 "Kinetic Energy Buffers "glitching""
For whatever reason, since I updated to BCA 1.8.3, my small kinetic energy buffers will occasionally stop transmitting or receiving energy. Although their texture shows energy stored, the GUI shows zero energy stored, and all faces have reset to input.

Once they do this, it is impossible to reset any face to output or disabled (shows in GUI, resets immediately when closed), and the kinetic energy

[2014-12-24 10:41] #146 closed, assigned to AEnterprise

[2014-12-24 12:19] asiekierka opened #148 "Heated Furnace config options"
1) amount of RF generated by the non-laser coils
2) amount of RF per smelting operation

[2014-12-25 11:14] #148 closed, assigned to AEnterprise

[2014-12-29 21:26] ghost opened #150 "[Crash] when loading mod on a server."
Hello, I installed BuildCraftAdditions today, all good on client, but when I added it to my server it crashed.

Crash Report: http://pastebin.com/DG8e6PP8
Version: 1.7.10-2.0-refineryTest-Jenkins-88

[2014-12-30 10:06] #150 closed, assigned to nobody

[2014-12-30 15:49] #147 closed, assigned to nobody

[2015-01-01 16:30] AEnterprise opened #152 "add CLA to BCA"
i'd like to add a CLA to BCA.

not exactly sure about the exact contents but bacicly it comes down to all rights to the code belonging to me, this is not to steel credit or anything this is about making sure that something like the bukkit drama never heapens.

Although 'officialy' all rights will belong to me i still welcome any contributions to BCA if they make sense and are well tested

for this

[2015-01-01 16:38] iTitus commented on #152
I hereby grant you the rights for the code I have written. I will sign the CLA after I read through it and if there is not something strange in it.

[2015-01-01 17:06] AEnterprise commented on #152
did a bit more research and i wrote this as CLA could you guys tell me if it's good and all?

http://www.hastebin.com/ereyazifay.vhdl

pinging @iTitus to make sure he sees it

[2015-01-01 17:12] Speiger commented on #152
As long my Code that i posted here is marked/seeable that i made it and nobody sells/tells it that he did it then ill give you my agree.
So make that sure^^" But should be already.

[2015-01-01 17:28] BigXplosion commented on #152
I'm totally up for this! but this will only be legal when the CLA is signed by all of us.

[2015-01-01 18:57] iTitus commented on #152
Same as @Speiger for me...
I will read it now

[2015-01-01 20:46] iTitus commented on #152
I think it looks good, what do you think?

[2015-01-02 08:59] AEnterprise commented on #152
ok, i'll be adding it to the repo later today, it won't be official until everyone agrees but that way you guys can already sign it

[2015-01-02 09:36] AEnterprise commented on #152
also riksolo no longer needs to sign, he did edit some code a bit back but i checked git blame and nothing is realy left of that code, the only code that is left are 2x the word 'else' and a few '}' in guiKEB, and that is removed the the dev branch so his code reminants will be removed anyways

[2015-01-02 09:44] Speiger commented on #152
Sadly that will take a little bit of time (days) i want to understand what i agree there. And Translating those lawEnglish to LawGerman and make it understandable for a normal person will take time -.-" I already want to punch myself for that i helped you -.-"

I do not mean with bad things... I do not like these lawthings at all...

[2015-01-02 09:55] AEnterprise commented on #152
@Speiger i also don't like all that lawthings and hardly understand it all myself, but this should basicly that if you contribute code to BCA and signed you can't afterwards change your mind or so and issue a DMCA takedown or anything, the code is in there and stays there

[2015-01-02 10:56] BigXplosion commented on #152
@Speiger The only thing this CLA is used for is so that @AEnterprise or (maybe in the future) any BCA lead developer or Team can for example change licenses to a more permissive or more strict license without needing to ask all contributors for permission. So by signing this CLA you agree to giving your code the lead developer.

so this is actually a win-win situation for both parties (lead develo

[2015-01-02 11:08] AEnterprise commented on #152
@BigXplosion thanks for that, i couldn't have said it better i knew what it ment but didn't realy explain it well but that is indeed where this CLA is ment for

[2015-01-02 11:26] BigXplosion commented on #152
well I have done lots of research on them when I added them to UT mods and I'm really behind this change/addition so yeah

[2015-01-02 18:16] Speiger commented on #152
Ok: Then answer me these questions to speed this process up:

Is the Code i added still marked that i added it?
Does it affect my coding post by i can not use the same code i posted in there? (because i posted some code of my projects inside of BCA, because i do not want to shrink myself down because of that...

[2015-01-02 19:57] iTitus commented on #152
I expect that all the code you (or I) have contributed can be used and come from elsewhere If all the other licenses are not violated.

[2015-01-02 22:14] BigXplosion commented on #152
@Speiger, @iTitus, I don't really get what you mean by marked but if you mean that it still shows your commits and such on github. I can make sure to you that nothing on github changes and that you will still see your commits or code with your name on it, so the credit is still there and you are only giving the rights to use YOUR code and modify it to BCA.

To answer your second question: yes, the

[2015-01-02 22:27] Speiger commented on #152
OK then Everything is FIne.

[2015-01-03 09:36] AEnterprise commented on #152
everyone signed it thus making this all valid and official, the CLA is now in effect and everybody who want to open a pr will have to sign the CLA before there pr gets merged, thanks all

[2015-01-03 09:36] #152 closed

[2015-01-07 01:57] Lanse505 opened #154 "[Mod Suggestion]: Add a way to add costum Crusher recipes to the Crushers using Config Files."
Hello!

I'm making this suggestion seeing as I'm working on a Survival Island Type map and I really would like BCA in the modlist, I planned on using BCA before i realized i could add costum crusher recipes for unsupported things like Exnihilo dusts and such.

So is this something that could perhaps be implemented?

[2015-01-07 09:11] AEnterprise commented on #154
@Lanse505 that should be possible to do indeed, it is already possible for other mods to do this but like with eureka i'll add a json thingy to for map makers to also have this option available for them. Any timeframe on when you would want this to be available? could you wait for BCA 2.0 for this (might be a week or more) or would you prefer 1.8.5?

it can still take a week or more for me to add

[2015-01-07 14:26] AEnterprise commented on #154
ok, then this'll be inplemented for 2.0 then

glad to hear BCA will be used in such a pack :-)

[2015-01-07 15:05] BigXplosion commented on #154
Why don't you just make MineTweaker integration, it's fairly simple to do and, no need for extra config files?

[2015-01-07 15:07] AEnterprise commented on #154
that would also be an option, thanks bigXplosion i'll look intro doing that instead

[2015-01-07 15:10] Lanse505 commented on #154
Nice ^^, Yea i'm making a Sub-Era/Era that build technological and Magical progression overtime, and BCA is going to be put somewhere in Tech stage 1 or 2, as beginning of techonological progression, and later parts of BCA like the kinetic duster and such are parts of early-set BC/PneumaticCraft(Stage3Tech)

[2015-01-07 15:12] AEnterprise commented on #154
cool let me know if you need more config options for parts of BC

[2015-01-07 15:24] Lanse505 commented on #154
We have a teamspeak if you would like to hang out with us and other mod devs ^^

[2015-01-07 15:42] AEnterprise commented on #154
@Lanse505 sounds good can you send me the details to join?

[2015-01-07 16:01] Lanse505 commented on #154
ts.resonant-rise:1337

[2015-01-07 16:13] AEnterprise commented on #154
Failed to resolve hostname 'ts.resonant-rise'

[2015-01-07 16:13] Lanse505 commented on #154
Hmm wait a sec

[2015-01-07 16:14] Lanse505 commented on #154
ts.resonant-rise.com:1337 >.> totally didnt forget .com

[2015-01-08 14:22] AEnterprise commented on #154
@Speiger you didn't read it all, i'm not going to use json filse but minetweaker integration

[2015-01-09 07:32] RagaRBM opened #155 "Constant lag"
BCA 2.0 beta build, BC 6.3.0.
When I'm on my world with BCA 2.0, I noticed the frame rate stutters constantly. But the frame rate is fine if I use BCA 1.8.4.
I noticed the game log also constantly generating these messages (and each time the message appears, the game lagged) :

[14:12:01] [Server thread/ERROR] [FML]: A TileEntity type buildcraftAdditions.tileEntities.TileBasicCoil has throw an exc

[2015-01-09 07:44] RagaRBM commented on #147
Sorry to interrupt an already closed issue.
@TheGuyRunningSouth That's strange. BuildCraft power works fine on me without TeamCOFHCore whatsoever.

[2015-01-09 08:33] AEnterprise commented on #155
thanks alot, these are the kinds of bugs i wana have found and fixed

how often do these messages apear? i'll look more in depth in my test world this weekend (currently at school)

[2015-01-09 08:35] AEnterprise commented on #147
@RagaRBM while in general it's bad practice to comment on a closed issue but in cases like this (where it was closed due not being able to replicate the bug) i don't mind people doing it, i hope it leads to the tracking down of the bug so i can fix it

[2015-01-09 08:57] AEnterprise commented on #155
@RagaRBM quick code checking and i found the bug and it is realy a MASSIVE screwup, edited online but should work, will send you a new build when i get home, you will probably have lost everything that was in any BCA machine at the time you exited your world so don't re-enter it until you have a new build otherwise you'll lose stuff again when exiting it the next time

i aplologize for the massive

[2015-01-09 08:57] #155 closed

[2015-01-09 09:11] Adaptivity opened #157 "Improve localization"
There are some things which can't be translated:
1) ItemCanister.java (lines 59-63) Also, there a should be added %s tag to swap amount of buckets with text.
2) GuiKEB.java (GUI stuff)
3) %s tag should be also added to "tooltip.installed".
4) EventListener.java (Update notifications)
Hope it will be implemented soon because full Russian translation almost done.

[2015-01-09 15:14] RagaRBM opened #158 "Quartz Gate doesn't get consume upon Multi-Tool upgrade"
Title says it all. Upon upgrading the Multi-Tool, the quartz gate doesn't get consumed while Gold Stick does.

[2015-01-09 15:16] AEnterprise commented on #158
probably broke when i updated the recepies in the BC 6.1 -> 6.2 update

[2015-01-09 15:16] RagaRBM opened #159 "[Enhancement suggestion] Ability to re-craft Multi-Tool attachments in Assembly Table"
This idea come to mind when the Assembly Table automatically picked the Drill Head attachment (while I already have one) to be crafted. The crafting process went so fast, I was not able to be fast enough to cancel out.

[2015-01-09 15:21] AEnterprise commented on #159
will do, i'll make it a crafting table thing as otherwise you still would have the same issue and alot of power wasted

[2015-01-10 07:57] RagaRBM commented on #158
Oops ... I did a mistake. It is Quartz CHIPSET, not gates. Sorry.

[2015-01-10 08:01] RagaRBM commented on #159
Thank you.

[2015-01-10 13:57] AEnterprise commented on #157
added this to my todo list

[2015-01-10 14:46] AEnterprise opened #161 "improve kinetic multi-tool tooltip"
always show stored energy but only show installed attachments when holding shift

[2015-01-10 14:48] AEnterprise opened #162 "make kinetic capsules usable as modifier for TiC tools"
almost exactly like the TE capacitors

pinging @bonii-xx for more info on how it should be done

[2015-01-10 14:59] iTitus commented on #162
EnderIO did it via Reflection. Boni approved in this.

[2015-01-10 15:07] BigXplosion commented on #162
well I was looking into TiC code and there wasn't really an easy way to register them, so reflection was also the thing I thought about, as @iTitus said.

[2015-01-10 15:26] Speiger commented on #162
Sounds weird but i would go the IC2 way at least for the modifire.
That simply means he check if the mod is loaded and try to load the classes it requires for that.
And implementing Canisters is not that extreme hard.
You simply create a ToolModifire which is based on the class ... let me check...
ItemModifire... which is more like a recipe class.
That allow you to insert your canisters into the t

[2015-01-10 15:28] Speiger commented on #162
If you have more questions then ask...

[2015-01-10 15:44] AEnterprise commented on #162
i kinda hoped there was an easy api way of doing it :p

[2015-01-10 16:04] BigXplosion commented on #162
@Speiger, there is already a modifier for flux tools, so why would we make a new one and have 2 when TE and BCA are installed. just adding BCA items to the list in the ModFlux class will be enough. Also having another dev requirement and core access could cause it to crash and with reflection you can make it so it just doesn't work but the game still loads.

[2015-01-10 16:16] Speiger commented on #162
BigExplosion i have mods talking to the core of Other mods and there i nomod requirement at all.
IC2 Classic is the best example.

[2015-01-10 16:24] BigXplosion commented on #162
yes I know! but when something in their core changes, it will crash, with reflection you can easily catch the exception and just print out a warning. but the game will still load fine.

[2015-01-10 16:40] AEnterprise commented on #162
@BigXplosion you seem to know best how to add it, feel like putting BCA capsules on the list then?

[2015-01-10 16:47] BigXplosion commented on #162
sure, give me 20 minutes or so :P

[2015-01-10 17:50] bonii-xx commented on #162
Give me a proper PR with IMC and i'll merge it into ticon ;P

[2015-01-10 23:37] BigXplosion commented on #162
hmm, I have run in to an error. BC only includes the cofh/api/energy package and not the whole CoFHLib mod, this causes the optional interface to remove the getMaxEnergyStored(ItemStack) in the ToolCore class (in TinkersConstruct). So when an item is added as a ModFlux battery with only BC and BCA installed, it will cause TinkersConstruct to crash...

@bonii-xx I know the optional annotations are

[2015-01-11 09:07] Adaptivity commented on #158
The problem applies not only for quartz chipset. It applies for golden chipset and for diamond chipset too.

[2015-01-11 09:13] Adaptivity opened #163 "Wiki bugs"
1) https://buildcraftadditions.wordpress.com/wiki/powerplant/ (screenshots are down)
2) https://buildcraftadditions.wordpress.com/wiki/engineer/ (same as above)
3) https://buildcraftadditions.wordpress.com/wiki/kinetic-multitool/
"And finaly for the forth and final upgrade you’ll need to get a Emerald Stick (only acquirable through trade with the Engineer) and a Golden Chipset:" not a "Golden Chip

[2015-01-11 09:36] AEnterprise commented on #158
thought as much, must have broken it while updating the api a while back

[2015-01-11 11:35] AEnterprise commented on #163
sounds like something for @AlexTheGre4t

[2015-01-11 12:01] AlexTheGre4t commented on #163
Issues fixed

[2015-01-11 12:02] Adaptivity commented on #163
Thanks.

[2015-01-11 12:02] #163 closed

[2015-01-11 12:37] AEnterprise opened #166 "finish refinery and cooling tower"
refinery and cooling tower to replace the BC refinery

feature list:
- [x] multiblock patern for refinery
- [x] multiblock patern for cooling tower
- [x] modifying the registered recepies in the BC api to output a gas
- [x] make cooling tower convert that gas to the normal output
- [x] make refinery use heat and dynamic powerusage based on current heat
- [x] make cooling tower produce heat when co

[2015-01-11 13:39] AEnterprise commented on #157
feel free to finish the translation and pr on the multiblockRefinery branch

[2015-01-11 14:00] Adaptivity commented on #157
You are not fully fixed it. There are still GuiKEB.java not translatable.

[2015-01-11 14:02] AEnterprise commented on #157
oeps, my bad, fixing now

[2015-01-11 14:03] Adaptivity commented on #157
Also, you are missed event.player.addChatComponentMessage(new ChatComponentText("Changelog: ")); in EventListener.java.

[2015-01-11 15:18] Adaptivity commented on #157
Found more: TileKineticEnergyBufferBase.java line 129 and 187

[2015-01-11 15:26] AEnterprise commented on #157
also fixed

[2015-01-11 15:32] Adaptivity opened #170 "IC2 dusts have missing names"
They uses unlocalized names: http://i.imgur.com/XV0Cgzg.jpg

[2015-01-11 15:38] BigXplosion commented on #170
@AEnterprise, this is an annoying issue though. Also seeing all these dust, I think it might be good to have a seperate creative tab for them.

[2015-01-11 15:39] AEnterprise commented on #170
true, i'll make a new tab for them

[2015-01-11 19:30] AEnterprise commented on #154
@Lanse505 has been implemented and will be in BCA 2.0

[2015-01-11 19:49] Lanse505 commented on #154
Nice :)

[2015-01-11 19:50] Lanse505 commented on #154
Dont forget to include some kind of documentation on how the script should be worded!

[2015-01-11 20:00] AEnterprise commented on #154
@Lanse505 where should i put that documentation? also it's very easy, example to add something:
mods.bcadditions.dusters.addDusting(<minecraft:wool:0>, <minecraft:blaze_rod>);

[2015-01-11 20:01] AEnterprise opened #173 "machine configuratior"
as i'm putting all the things on github to keep track of it i might as well add this

a machine configurator will be added to control input/output sides from machines like the semi-automatic and kinetic duster

[2015-01-11 20:11] Lanse505 commented on #154
Okey thanks :), poke StanHebben with it and he can probably make a page of the MT forums about it, or you could poke Jaredlll about it seeing as he's the new Modtweaker Dev :)

[2015-01-11 20:13] AEnterprise commented on #154
ok i'll poke them

[2015-01-11 21:26] iTitus commented on #154
In Dusters.java you are missing the removeDusting method which actually calls the RemoveDustingAction.

[2015-01-12 10:04] #162 closed

[2015-01-12 14:37] AEnterprise opened #177 "dusters not recognizing TF ores"
they don't process TF copper but do process other types of copper but it is registered as copper ore in the oreDict as other machines do process it properly

i suspect this bug isn't limited to the copper witch leads me to beleve it is not recogizing the item when in the duster, maybe something NBT/meta related

pinging @Speiger for more info on possible causes/fixes

[2015-01-12 15:21] iTitus commented on #177
Probably because Thermal Foundation registers its ores late?

[2015-01-12 16:22] AEnterprise commented on #177
@Udaldor could you provide us with the forge, COFH core and TF version numbers please?

[2015-01-14 16:06] AEnterprise opened #180 "Heated furnace accepts items in the input slot"
reported on IRC and verified

[2015-01-15 09:02] iTitus commented on #177
Tested with the newest version of Udaldors Shenanigans on the FTB launcher, duster works with TF ores just fine...

[2015-01-15 15:00] AEnterprise commented on #177
if it was broken then it should now at least be fixed by https://github.com/AEnterprise/Buildcraft-Additions/commit/6bb4a948295b773257937955f2ce5306f3f5f94b regarless of when the stuff is registered in the oreDict

[2015-01-15 15:00] #177 closed

[2015-01-15 15:17] AEnterprise commented on #180
fixed

[2015-01-15 15:17] #180 closed

[2015-01-17 10:21] AEnterprise opened #185 "make kinetic tool chargable"
as requested on IRC: make it so that you can charge the tool in one time and not each battery seperatly

main usage is the wireless charger of enderIO but charging the batteries seperatly can indeed be a bit anoying

[2015-01-18 04:33] RagaRBM opened #191 "Cannot upgrade and craft kinetic multitool in survival"
testbuild-4
The kinetic multitool can't be placed inside Integration Table. Same with Iron/Gold/Diamond/Emerald stick.
Also, I can't craft any buildcraft additions items in the Assembly Table, be it Tool core or sticks.

[2015-01-18 10:14] AEnterprise commented on #191
working fine on my end, could you try using the latest jenkins build now that it's building again?
http://ci.tterrag.com/job/Buildcraft-Additions/

[2015-01-18 14:40] AEnterprise opened #193 "fix fluid rendering height"
refinery and cooling tanks are using the fluidTank widget and there height is rendered incorrect

[2015-01-18 14:55] AEnterprise opened #194 "fix and redo dust localization"
make a localization using %s for the dust in general and a localization for each of the metals seperatly and have the code assemble it

[2015-01-18 14:56] #154 closed

[2015-01-18 14:56] #157 closed

[2015-01-18 14:56] #158 closed

[2015-01-18 14:56] #159 closed

[2015-01-18 14:56] #161 closed

[2015-01-18 14:56] #170 closed

[2015-01-18 14:59] AEnterprise commented on #191
working as it should

[2015-01-18 14:59] #191 closed

[2015-01-18 15:01] AEnterprise opened #195 "keb t1 glitching on both setting"
T1 keb's are glitching when set to 'both' on a side, they receive power but if it's connected to another keb that is also set to 'both' it sending the power back right away

[2015-01-18 16:08] #185 closed

[2015-01-19 04:55] soulcat1 opened #199 "Kinetic Buffer causeing sever to crash when attached to Mechanical grinder."
Hello I have Built a Kinetic buffer and attached it to a sterling engine.  I placed a Mechanical grinder on top of it.  As Soon as I set the output to up the server crashed.  Here is the crash report:
---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 18/01/15 8:45 PM
Description: Ticking block entity

java.lang.ClassCastException: buildcraftAdditions.tileEntities.TileMechanic

[2015-01-19 06:02] iTitus commented on #199
We need to update to the newest RF API version...

[2015-01-19 09:51] AEnterprise commented on #199
@iTitus there is a newer RF api? didn't knew that

[2015-01-19 13:48] iTitus commented on #199
Already fixed in https://github.com/AEnterprise/Buildcraft-Additions/commit/ee5c10a882540efef4d6d984cad55f95ee25d4b4, 2.0 will have the fix

[2015-01-19 14:16] AEnterprise commented on #199
issue isn't the RF api indeed but this is quite a severe bug, will backport the fix and probably release a fixed version later today

[2015-01-19 14:50] AEnterprise commented on #199
the api or the linked commit where irrelevant but the bug has been fixed now in https://github.com/AEnterprise/Buildcraft-Additions/commit/4f8a449a119f91981b4fe31b8731887557b71cd5

[2015-01-19 14:50] #199 closed

[2015-01-23 15:38] iTitus commented on #194
I have done something similiar for the gas fluids and the buckets (#210). I dont know how hard this will be since some mods use different names for their ores/ingots/dusts (and also different conventions).

[2015-01-23 15:40] iTitus commented on #193
I think this was fixed by #207 (in 1b8f18d398f1726636c1d6c1eb2b2f062626acf7)

[2015-01-23 15:40] iTitus commented on #173
Mostly works

[2015-01-24 09:35] AEnterprise commented on #173
true it's basicly done

[2015-01-24 09:35] #173 closed

[2015-01-24 09:35] #193 closed

[2015-01-24 09:35] AEnterprise commented on #194
i'll do it don't worry i have a plan it should be faily simple

[2015-01-24 11:53] AEnterprise commented on #195
has been fixed, keb's of the same tier balance out there power if the side that is touching is on 'both'

[2015-01-24 11:53] #195 closed

[2015-01-24 12:53] AEnterprise commented on #194
done in https://github.com/AEnterprise/Buildcraft-Additions/commit/2c8dcbe7d5daf8f095ea2557ad0f09b2bde865ed

[2015-01-24 12:53] #194 closed

[2015-01-24 23:10] sauron73 opened #213 "Missing texture"
currently no texture for cobblestone pipe part in inventory

[2015-01-25 09:00] AEnterprise commented on #213
this is an eureka issue that has been fixed but no new version has been released yet

[2015-01-25 10:06] #213 closed

[2015-01-26 12:20] MrKickkiller opened #216 "[Reminder] Add auto-output upgrade to some of the machines :P"
There ya go AEnterprise

[2015-01-26 12:26] MrKickkiller opened #217 "[Idea]Oil Fractioning"
A new multiblock that can be used to fraction oil into fuel, nafta (fuel), light-oil, bitumen etc.
Eg: See picture
Usage case: Different fuels have higher potency/ longer burn times.
Bitumen (Asfalt) as a crafting material for black road blocks or something?
Plastic / Nylon : Crafting ingredient for tier 3 KEB?
![image](https://cloud.githubusercontent.com/assets/5099359/5899635/bb440002-a55e-11e4-

[2015-01-26 12:45] AEnterprise commented on #217
this actually is how the multiblock refinery idea started, i might take a look at this later, not sure if it'll be for 2.0 or a later release though, the original idea was to have refinery output a gas and the multiple outputs would come from the cooling tower

[2015-01-26 13:47] Speiger commented on #217
A few things about that idea. I did cover that a little bit with some people (in real live) and we talked about the pros and contras about the differend fuels. I do not have everything in mind yet (still searching for that memory in my mind), but differend Type of Fuels have at differend states (speedStats) better/lesser effencies. (Totally typed it wrong). So maybe BC could override its fuel info

[2015-01-26 13:58] AEnterprise opened #218 "KEB selfdestruct button"
you have to click left and up of the gui to triger the selfdesctruct instead of the button itself, probably due to the gui rewrite

[2015-01-26 14:09] MrKickkiller commented on #217
@Speiger I make from your comment that you find the idea of different fuels with each different power characteristics interesting.

Eg=
Fuel = 6mj/t ,medium burn time
Liquified Petroleum Gas (LPG for short) = Higher mj/t, but lower burn time
Heavy alkanes = Low mj/t but last for eternity

[2015-01-26 15:19] Speiger commented on #217
Good start but you missunderstood me.
The mainidea was this: (I talk only about the speed the engine moves not the temperature!)
Diesel: (fuel usage is still the same)
 Blue State: 4 MJ per tick
 Green State: 6 MJ per tick.
 Yellow State: 8 MJ per tick
 Red State: 10 MJ Per tick.

Benzin:
 Blue State: 8 MJ per tick
 Green State: 7,5 MJ per tick
 Yellow State: 6,5 MJ per tick
 Red State: 5 MJ per t

[2015-01-26 15:25] AEnterprise commented on #217
@Speiger what you are sugestion would require alot of rewriting of how engines work and i don't think @asiekierka is gona agree to that

[2015-01-26 15:48] Speiger commented on #217
We will see. And if asie is against it then i have no problem with that at all. It is just an idea.

[2015-01-26 16:10] #218 closed

[2015-01-27 16:30] AEnterprise commented on #166
looks like rotation detection is also broken for the cooling tower, it doesn't form if the valve for the coolant is on a specific side

[2015-01-27 16:50] #144 closed

[2015-01-27 17:11] AEnterprise opened #222 "funky locomotion integration"
gona implement the funky locomotion api to be compatible with that mod as well for moving multiblocks

https://github.com/rwtema/FunkyLocomotion/blob/master/src/main/java/framesapi/

[2015-01-27 17:13] AEnterprise opened #223 "sort-o-tron"
@BigXplosion is making the sort-o-tron for BCA 2.0, putting this here for completeness

[2015-01-29 17:52] Chameleonz opened #227 "KEB"
hi thanks for the mod

you broke the keb`s - the small one wont connect too gold pipes and the buttons on the UI is missing

[2015-01-29 17:57] AEnterprise commented on #227
i assume you are using the new testbuild as you are saying buttons are missing? those buttons are no longer in the gui and you now need to make a machine configurator and shift click on a keb to configure input/output settings, also works on 2 of the dusters

as for not connecting to gold pipes i hope you mean gold kinesis pipes, use the tool mentioned above to make sure said side isn't dissabled

[2015-01-29 22:47] Chameleonz commented on #227
thank you will try that :)

On Thu, Jan 29, 2015 at 7:57 PM, AEnterprise <notifications@github.com>
wrote:

[2015-01-31 09:41] #227 closed

[2015-01-31 09:43] AEnterprise opened #229 "3x3 modes for the kinetic multi tool"
requested multiple times to might be time to add this, not sure if it's gona be a feature of the current tool or an upgrade

scheduling this for 2.0.1 as 2.0 is nearing completion, also gona rewrite the kinetic tools then as that is needed

[2015-01-31 10:39] AEnterprise commented on #222
pinging @rwtema to get a details on what exactly is handled by funky locomotion, what i should handle and where to register it as i can't find it

[2015-01-31 16:53] AEnterprise opened #230 "MT integration for the refinery and cooling tower"
so people using minetweaker can add/remove recipes

[2015-02-01 15:56] iTitus commented on #230
I dont know how Minetweakers FluidStacks work...

[2015-02-01 16:03] AEnterprise commented on #230
me neighter, but with some googeling and testing we should be able to figure it out

[2015-02-01 16:11] #216 closed

[2015-02-02 12:34] iTitus commented on #223
Will be closed by #233 ?

[2015-02-02 16:13] AEnterprise opened #235 "waila integration"
already started, just to keep track of it, makes for easier changelog writing

[2015-02-03 15:16] AEnterprise commented on #223
@BigXplosion is this done now or are there more things to be done on this?

[2015-02-04 09:30] #223 closed

[2015-02-05 13:38] BigXplosion commented on #230
Can be closed

[2015-02-05 13:41] BigXplosion commented on #166
are we still going to look into biomes for the heat or was this not possible?

[2015-02-05 14:00] AEnterprise commented on #166
not sure, i think this might be something to be added later then

[2015-02-05 14:01] #230 closed

[2015-02-05 18:39] AEnterprise commented on #222
due to lack of documentation (and some api functions not even being called) i'm moving this until we can implement it

[2015-02-05 19:42] BigXplosion commented on #166
can this be closed now?

[2015-02-06 07:52] AEnterprise commented on #166
yeah it can

[2015-02-06 07:52] #166 closed

[2015-02-07 14:22] AEnterprise commented on #235
should be done

[2015-02-07 14:22] #235 closed

[2015-02-09 00:29] MrBretze opened #252 "Powerplant not generated"
Hello I have tested your mods because I like BuildCraft And Power Plant have never generated in the country, I have tested it on a flat world and normal.

Erreur de config, problème d'id de villager ?

[2015-02-09 05:23] BigXplosion commented on #252
this is fixed in the 2.0 release, which should be out in a day or 2.

[2015-02-09 09:20] AEnterprise commented on #252
indeed has been fixed

[2015-02-09 09:20] #252 closed

[2015-02-10 08:31] AEnterprise opened #254 "changelog"
making the changlog, for now only on my for fork but i'll also push it here later, a duplicate HAS to be on my fork as well cause the repo moved but the already compiled versions of BCA don't know that so are still checking on the original location.

@BigXplosion @iTitus could you guys go over this and make line notes if i missed something?
https://github.com/AEnterprise/Buildcraft-Additions/blob/

[2015-02-10 14:55] iTitus opened #255 "[Suggestion] Configurable speed and power modifers for the upgrades."

[2015-02-10 14:57] iTitus opened #256 "[Bug] [Minor] Fix missing localization for the Base Upgrade."

[2015-02-10 14:58] iTitus opened #257 "[Bug] [Minor] Machine Configurator's texture is mirrored in your hand."

[2015-02-10 15:00] iTitus opened #258 "[Suggestion] Convert the owner saving to UUIDs/GameProfiles to support name changes."
Maybe an IOwnableMachine interface and a little check in the EventListener (onPlayerPlacesBlock).

[2015-02-10 15:20] AEnterprise commented on #258
i'll look intro doing that later this week or next week

[2015-02-10 15:21] AEnterprise commented on #257
yeah it is but that's due to how MC handles drawing it in 3D, nothing i can do about that, the same thing heapens with a wrench, sword, pickaxe, ... you just don't notice it cause of the colors

[2015-02-10 15:23] AEnterprise commented on #255
already had the plan to do that, just not for 2.0

[2015-02-10 15:29] iTitus commented on #257
Well I wanted to suggest mirroring the texture file...

[2015-02-10 15:33] AEnterprise commented on #257
then it would still look mirrorered if you look at the one in your inventory

[2015-02-10 15:39] iTitus commented on #257
When you mirror at the right axis (from bottom left to the top right) only the colors change.

[2015-02-10 15:45] AEnterprise commented on #257
the problem with that is that if blue is the left side in your inventory it'll be right on your hand due to the 3d drawing, same if red would be left

[2015-02-10 15:57] iTitus commented on #257
The order of the colors doesnt matter. The spiky thingie is just pointing backwards.

[2015-02-10 16:00] AEnterprise commented on #257
oh wrong like that, i thought you ment the colors

[2015-02-10 16:00] iTitus commented on #257
Will mirror later in the evening.

[2015-02-10 16:00] iTitus commented on #257
Its just minor :P

[2015-02-10 16:07] AEnterprise commented on #257
if you want it in 2.0 i need it in a few hours

[2015-02-10 16:29] AEnterprise opened #259 "stripe pipes breaking keb's should store the energy"
it would allow players to automate the charging and transportation of energy over larger distances, using a railroad or robots

requested by chilm, would be interesting to see what he can make with it

[2015-02-10 16:51] #256 closed

[2015-02-10 17:37] iTitus commented on #259
Once #251 is merged, I can edit the EventListener again. Then I could do this.

[2015-02-10 19:23] AEnterprise commented on #259
@iTitus don't do this using the eventhandler! this should be done by using the BC stripe pipe api, registering a handler to break the keb

[2015-02-10 19:23] #257 closed

[2015-02-10 20:12] iTitus commented on #259
I thought of removing the lines with the wrench drop code. The KEB should always drop itself with power.

[2015-02-10 20:39] AEnterprise commented on #259
i don't think so, i think it's better to do it this way, makes more sense to me as you are picking it up, witht the wrench, not breaking it

[2015-02-10 20:59] iTitus commented on #259
Then you're right...

[2015-02-11 17:12] jermangarc opened #262 "ID name mappings broken in existing world with BCA 2.0"
Hello, installed BCA 2.0 today and it corrupted my test world, which is a copy of a server world. Had to revert back to BCA 1.8.4

http://pastebin.com/26qNiwY0

[2015-02-11 17:16] BigXplosion commented on #262
did this crash your world? if not what happened to the items in world?

[2015-02-11 17:18] jermangarc commented on #262
Yes it did crash.

---- Minecraft Crash Report ----
// You're mean.

Time: 2/11/15 8:53 AM
Description: Ticking block entity

java.lang.ClassCastException: ic2.core.block.machine.tileentity.TileEntityMatter cannot be cast to jds.bibliocraft.tileentities.TileEntityWeaponCase
	at jds.bibliocraft.blocks.BlockWeaponCase.func_149709_b(BlockWeaponCase.java:463)
	at net.minecraft.world.World.func_72878_l

[2015-02-11 18:16] BigXplosion commented on #262
yup this seems like your mappings have all been shifted, but I thought we prevented that :/

[2015-02-11 18:36] jermangarc commented on #262
Sorry for the bad news! Yeah this map is on server that's been on for two years now. I'll just wait for the fix? maybe if I'm lucky, lol.

[2015-02-11 19:20] AEnterprise commented on #262
ok this is odd, some things should indeed have been remaped (the old dusts to a converter item) looks like something went wrong but i have no idea how that could have heapened

[2015-02-11 19:23] #254 closed

[2015-02-11 19:27] jermangarc commented on #262
Here is the startup log if it helps. I know, that's one big modpack. It's been a year in the making.
https://dl.dropboxusercontent.com/u/72156241/BCA-crash-startup-log.log

[2015-02-11 20:03] AEnterprise commented on #262
ok can you try it with this build: https://dl.dropboxusercontent.com/u/148704233/BuildCraft%20Additions/BuildcraftAdditions-1.7.10-2.0-remapTestbuild.jar

[2015-02-12 00:00] jermangarc commented on #262
Thanks, I installed it and got the following message upon loading world: "Forge Mod Loader detected that the backup level.dat is being used. This may happen due to a bug or corruption, continuing can damage your world beyond repair or lose data/progress. It's recommended to create a world backup before continuing."

I clicked continue which ended with the crash report below.
http://pastebin.com/u5

[2015-02-12 11:59] AEnterprise commented on #262
ok, that didn't do a thing then but i think i found the issue: it thinks quicksilver dust is silver dust, so when remapping both items where assigned to the new silver and thus causing the issue

[2015-02-12 22:25] Speiger opened #264 "Dust Code Cleaning"
He AEnterpriese that is not a thing to bother you.
But the Dust API is let me tell that. You copy the problem from minecraft with the IDs missmatches to it.
Instead of asking for a metadata for something you could ask in the IDust Type getID() as String,
and store them in a HashMap. That would resolve idMissmatches and you can make a lot of stuff easier. Also i would return the IDust after it got

[2015-02-13 04:56] Adaptivity opened #265 "Dusts not fully translatable"
With the new localization system for dusts, it's impossible to fully translate them -> http://i.imgur.com/IdxyFDQ.jpg the first word always stays in English.

[2015-02-13 07:33] AEnterprise commented on #264
hmm, @iTitus wrote the new system so i guess he'll probably take a look at it, but doesn't this mean it we'll have to remap them again?

[2015-02-13 07:34] AEnterprise commented on #265
nope you can translate it, just localize 'Bronze', it's done this way to make it easier so i wouldn't need to do 'metal.bronze=Bronze' and that for all metals

[2015-02-13 09:39] Adaptivity commented on #265
So, which lines I should add? "metal.bronze=Bronze" not working for me. Are you sure it's correct pattern?

[2015-02-13 09:42] AEnterprise commented on #265
no i said i din't want to use metal.bronze and have to localize them use 'Bronze=translation'

[2015-02-13 09:49] Adaptivity commented on #265
Oh, that's looking great. Can you show me which lines of code responds to dust localization? Since I'm not a coder and it kinda hard to me to find it. And also, https://github.com/BCA-Team/Buildcraft-Additions/blob/master/src/main/java/buildcraftAdditions/ModIntegration/ModIntegration.java#L137 this is all supported dusts(+some vanilla)? Also, you should add a note to .lang file about the dusts fo

[2015-02-13 10:15] AEnterprise commented on #265
yes those are all supported dusts, to localize the first part just localize the name of the metal (found on the lines you linked to)

[2015-02-13 10:17] Adaptivity commented on #265
Thanks. Consider adding info about it to en_US.lang

[2015-02-13 16:50] Adaptivity commented on #265
Ran into a problem: for two word dusts(like Black Steel, Astral Silver) I need to swap "dustname" with word "dust" but I shouldn't change other dusts. Can you do something about it?

[2015-02-13 17:08] AEnterprise commented on #265
i'll take a look

[2015-02-13 17:19] Speiger commented on #264
The main problem is everytime a addon gets removed all dusts change their meta if they are not static set. So that is a thing which people do not like to be bound on something. (I have people i know already yell at me because you can not deinstall MC mods without distroying the world).
And with strings you can make a set ID.
^^" It is only a thing i saw while i was searching for something that cou

[2015-02-14 19:21] iTitus commented on #264
I added the number param so that they are all static. When you remove Metallurgy (example) all the dusts would retain their meta but show 'Unknown Dust'. If you would dynamically assign metas to them based on the order of adding, everything would get messed up. One possible solution would be to save this HashMap, but this could lead to more errors and/or work.

[2015-02-14 19:42] Speiger commented on #264
So you write the installed dusts to a file and read everything after the next start so you need to install them again?
The thing with a hashmap was only that you are not limited on IDs and that they do not change when you exchange mods.
Maybe you should add a onRegistration(short id) so that you keep the controll with the ID system and metas do not change.

[2015-02-14 20:15] iTitus commented on #264
They will not change because they are static

[2015-02-14 20:17] iTitus commented on #264
Similiar to potion or enchantment IDs

[2015-02-15 08:42] jermangarc commented on #262
So is there something I can do about it? Is it a config issue?

[2015-02-15 09:59] AEnterprise commented on #262
no it's my mistake and i have to fix it, i would sugest turning off dust registration in the config to remove all old dusts completely to fix this but i broke that feature, if you want i can easely fix that with a check and give you a custom build, then you would need to start with dissabling it in the config, loading the world once, ignore missing mappings, shut server down and turn dusts back on

[2015-02-15 10:42] AEnterprise commented on #264
they won't change as it's always passes the meta++, no matter if the metal is present or not, closing

[2015-02-15 10:42] #264 closed

[2015-02-15 11:12] AEnterprise commented on #262
@jermangarc can you try with this version: http://ci.tterrag.com/job/Buildcraft-Additions/81/

[2015-02-15 11:19] Speiger commented on #264
I talk about Addon support not about stuff in BC Additions.
This thing is designt for supporting addons. But has the problems i told.

[2015-02-15 11:54] iTitus commented on #264
It is designed like Vanilla Enchantments, with a few tweaks. Addons are supposed to choose some free IDs.
I dont say that your idea is bad or that my idea is better. Its just the approach I have gone with.
Maybe the System will be ravamped at some time in the far future.

[2015-02-15 16:05] Speiger commented on #264
Ok. Just wanted to show the Potential Error in it.

[2015-02-15 17:24] Njet75 opened #270 "Crash with Waila"
Get this crash with waila and Buildcraft additions 2.0.
Works with 1.8.4
Tested both Waila 1.5.7.a and 1.5.9 with same result.

Crash report http://pastebin.com/wGuyxbhT

/Njet

[2015-02-15 17:34] iTitus commented on #270
Does it happen without BCA?

[2015-02-15 17:42] Njet75 commented on #270
No
Only with BCA 2.0.
Works fine without.

[2015-02-15 17:44] iTitus commented on #270
That is very strange

[2015-02-15 17:48] iTitus commented on #270
I am testing this now

[2015-02-15 17:53] Njet75 commented on #270
If I recall this didnt happen with Testbuild 2.0.
Gonna test this

[2015-02-15 18:02] AEnterprise commented on #270
what's the version of waila you have installed? is it the latest one?

[2015-02-15 18:03] iTitus commented on #270
I am testing this in my dev env with the newest WAILA (1.5.9) now

[2015-02-15 18:03] AEnterprise commented on #270
this shouls be reported at waila's end, something is cleary going wrong but if it's something i'm doing wrong i'm not seeing what it is from this report

[2015-02-15 18:06] Njet75 commented on #270
Works with Testbuild 2.0. build 5.
Gonna wait and see iTitus result.

[2015-02-15 18:09] iTitus commented on #270
I a dev env with some other mods there are no crashes.

[2015-02-15 18:58] AEnterprise commented on #270
@Njet75 talked to profmobius, one of your mods (not BCA) is including an outdated version of the api

[2015-02-15 18:58] #270 closed

[2015-02-15 19:45] L00Cyph3r opened #272 "Gates' conditions not functioning with KEB (3x3x3)"
When using the biggest KEB, and attaching  a pipe with a diamond gate, you can set certain energy-conditions (<25%, <50%, <75%, <100%, Fully charged). But these values do not correspond with the actual energy level in the KEB. Instead, the condition is always true.

See attached screenshots for further details.

![635596298334941178](https://cloud.githubusercontent.com/assets/10772371/6204651/84b3

[2015-02-15 21:37] Njet75 commented on #270
Gonna look for it.
Thanks for World class support.
/Njet

[2015-02-16 10:22] AEnterprise commented on #272
what version of BCA are you using?

[2015-02-16 10:27] L00Cyph3r commented on #272
BCA - 2.0
BC 6.3.6

Complete modlist screenshot:
![635596827892794355](https://cloud.githubusercontent.com/assets/10772371/6210320/aead2fa0-b5ce-11e4-8190-0d562f99f091.png)

[2015-02-16 11:02] #265 closed

[2015-02-16 11:02] #272 closed

[2015-02-16 11:21] Adaptivity commented on #265
Hmm, I thought about it a bit more. In English all words are capitalized but in Russian only first word. So, if I swap dust and metal name, word "dust" will not be capitalized. So, I thought about better solution: Just make so if there are exist "dust.Bronze" for example, FML should skip "item.dust.name" completely. So, It will looks like "dust.Bronze=Bronze Dust" and if there are no "dust.Bronze=

[2015-02-16 22:27] jermangarc commented on #262
Good news and bad news, I'm going to have to report that this as issue resolved. A new problem showed up (not a BCA issue), the same problem that showed up a few weeks back with Minechem (https://github.com/jakimfett/Minechem/issues/614). I'm going to have to ask for help in the Forge forums on this one now that the problem has come back. It sucks because at this point I can't update my map anymor

[2015-02-17 08:47] #262 closed

[2015-02-18 14:21] AEnterprise opened #277 "kinetic backpack"
kinetic capsules with some plating (maybe a new kind, not sure yet) makes the kinetic backpack and you would be able to put it in your chest slot, it would have a little cable comming out leading to your hand, if you're holding a RF chargable tool it will charge it

credit to chilm for the original idea

[2015-02-18 14:23] iTitus commented on #277
Sounds very nice ;)

[2015-02-18 14:23] BigXplosion commented on #277
awesome idea

[2015-02-18 14:26] AEnterprise commented on #277
as for making it i'm thinking custom crafting mechanic: make a frame and then solder the capsules to it, also a new tool to break off soldered capsules, very small chanse to recover the capsule that way, but very large chanse you get a broken capsule instead, maybe also a medium chanse that you damange that part of the backpack

[2015-02-18 14:27] iTitus commented on #277
Soldering sounds very nice :)
Hehehe, all those ideas...

[2015-02-18 14:32] yt-chilm commented on #277
maybe you can opt to fuse plates on in places instead of capsules to add armour and so the user can balance up protection vs power? would that work?

[2015-02-18 14:33] yt-chilm commented on #277
(plus later plug in the cables to shoes, helmet etc) xD

[2015-02-18 14:35] AEnterprise commented on #277
soldering plating over the kinetic capsule should be doable, same princible then i guess, you can get it off but not without damanging it (they would have to melt it to get it back intro shape i sugest)

later extensions to other armour slots should also be possible, not sure what exactly they will do and how they will work though

[2015-02-18 14:36] anti344 commented on #277
Uh, another thing to block out chestplate slot. I like the idea, but why always my chest slot?
U can simply occupy, like, slot 35(in the corner of inventory) and even write a little API(to automatically stack up `functional` slots for mod support).

[2015-02-18 14:38] yt-chilm commented on #277
A Batt-belt maybe? (hehehe)

[2015-02-18 14:40] AEnterprise commented on #277
it's a 'backpack' so it makes sense to me to put it on your back, also for clarity toward the player, puting it in a specific slot in your inventory or in any slot could also work but would be confusing for the player

[2015-02-18 14:42] anti344 commented on #277
Well, now it's not a 'kinetic backpack', now it's a 'kinetic recharger thingy-dingy' =D

[2015-02-18 14:56] leSamo commented on #277
Basicly like IC2 batpack?

[2015-02-18 15:00] AEnterprise commented on #277
similar but not the same thing

[2015-02-19 15:37] Speiger commented on #277
XD yeah because its a differend type of energy. Also i would tell you @AEnterprise to use the IC2 Way to save lag and to prevent a bug.
Instead of the Kinectic pack sending energy constantly you should make it that the Tools request energy from the Kinectic pack when they draw it from the tool (so if a pack is there the tool drain it from there and if not it drains it from itself.), that prevents

[2015-02-19 16:00] AEnterprise commented on #277
@Speiger i'll see how i do it, the tool requesting energy might be a good idea but not sure if i'll do it. i think i want other RF powered tools also to be charged by it

also a change in powerlevel shouldn't prevent the tool from breaking a block, if that's the case then it's due to a fault in the tool's code

[2015-02-19 17:54] Speiger commented on #277
I made Portable Engines in my Mod and they powered my Pneumatic drill (The Engine was producing 1 MJ per tick, until the Drill was fully charged i was not able to mine a block because it was to slow and the item got resynced every time.
Here you have a part of my TinyChest code how i made it:
Pneumatic drill (Just you know how i made my tool):
https://www.dropbox.com/s/eyrdnifntol8gto/ItemBCDrill.

[2015-02-21 10:29] Psithief opened #278 "No default extract port for Heated Furnace."
Version: `BuildcraftAdditions-1.7.10-2.0.jar`

Can we please have the default side configuration be as a normal/vanilla Furnace?
That is: Output slot on bottom, the rest of the sides can be input.

This is basically so hoppers work as expected the first time it's attempted.

[2015-02-21 10:30] AEnterprise commented on #278
you can change the configuration with the machine configurator, although i might indeed change it so that the default setting is 'both' on all sides

[2015-02-23 09:37] #258 closed

[2015-02-23 09:37] #259 closed

[2015-02-25 14:39] #278 closed

[2015-02-25 14:39] #229 closed

[2015-02-25 14:40] AEnterprise commented on #255
anyone who wants to do this?

[2015-02-25 14:40] #217 closed

[2015-02-25 19:09] Jhary opened #286 "Is a better energy generator planned?"
Hello!

Is it planned to add a better "generator / engine" ? You did an awesome job with the multiblock refineries and cooling towers. What about a multiblock that needs processed fuel from the refinery and that generates a good amount of RF? Like an upgraded version of the combustion engines.

[2015-02-25 21:42] BigXplosion commented on #286
I actually like the idea of having our own power generation (I might have mentioned it once or twice). the power generation doesn't have to be engines like BC in my opinion because I think BCA should have it's own tiering up for power generation, just like you have KEB and Furnace tiers. Also this might also be a move to run even more independent from BC or any other RF mod out there.

[2015-02-26 07:39] AEnterprise commented on #286
this is indeed something to look intro later but for now we already have quite some things in the making and such this will probably be for 2.2 or so

[2015-02-26 12:58] CrazyNagaraj opened #287 "A few suggestions"
We need to process Applied Energistics 2 Certus quartz, Nether quartz, Skystone, Flux dusts in duster. In my own pack i only have BC + addons + Railcraft + Forestry only. For early game, There is Grindstone in AE2. Railcraft rock crusher process the this dusts, but it end game machine for automation(Diamonds, steel and so much RF usage, but what if i don't install Railcraft, No automation). Please

[2015-02-26 13:12] AEnterprise commented on #287
AE2 support should be doable but i need a recipe list of those recipes (and someone should let me know if any of them change), also it's something you can add yourself using minetweaker if you want

the flour i'm not so sure about doing that

the forestry backpack is something i might look intro later but that's kinda low priority atm

[2015-02-26 13:23] CrazyNagaraj commented on #287
You are fast. I like it.
i know i can use minetweaker :)
Problem is what if a user don't know it. I think you need to implement a way, if any mod adds a ore and a dust, duster registers them. Just a suggestion. Or maybe i have to contact @ganymedes01 for duster support in AOBD2.

[2015-02-26 13:26] AEnterprise commented on #287
i'm fast cause i saw the emails from github arrive

users don't need minetweaker knowledge, just ship the scripts with the modpack

[2015-02-26 13:36] CrazyNagaraj commented on #287
I am not a modpack maker nor uses a modpack that is pre-made. I install what mods i like, mostly as a lot of people in Mincraft world. I talked about them. And i don't even use minetweaker much unless there is a conflict and stuff like that, because every mod is balanced in their own way, provides just enough config files. If you really interested i provide the AE2 receipes as long as i play minec

[2015-02-26 14:05] AEnterprise commented on #287
i would need the input item and output itemstack, for that i would need the gamregistry names of said items

[2015-02-26 14:40] Speiger commented on #287
@AEnterprise JDGui & AE2-Dev for the win.
Look into the Sourcecode and find it out that take about 5-10 min.

[2015-02-26 14:50] AEnterprise commented on #287
@Speiger i'm not home and won't be for the rest of the day, it'll be late when i return so can't do it myself atm

[2015-02-26 16:41] ganymedes01 commented on #287
AOBD would only add duster recipes for ore with matching ingots. So no certus quartz and such.
I'm still willing to add support for BCA though if @AEnterprise likes the idea :3

[2015-02-26 17:24] AEnterprise commented on #287
@ganymedes01 you are welcome to add integration between BCA and AOBD but i'm not sure if it's needed, BCA is already adding a ton of dusts (if the metals are found) and adding the needed dusting/smelting recipes for them

[2015-02-26 19:14] CrazyNagaraj commented on #287
Sorry for late :)

@AEnterprise Here is a receipe list for AE2 dust processing. For now i will post here, if in future recipes changes I will PM you. (Ask me if you want them in excel format, i am using libreoffice)
https://www.dropbox.com/s/58vwj1eu9s06pt0/AE2Receipes.txt?dl=0

@ganymedes01 Yea, There is no need AOBD2 support on duster, unless someone want to process Endium(Gany's End Mod) in it.

[2015-02-26 19:25] m3gg3r opened #290 "Item id mismatch by an update of the world"
Hi

I get some errors with item ids when i update buildcraft on an already existing world!

The log: http://pastebin.com/G8W71SdX

Is there a possibility to update the mods without starting a new world?

Best Regards
Megger

[2015-02-26 19:35] BigXplosion commented on #290
are you using BCA 2.0 if so try using 2.0.1 we had a fix for this.

[2015-02-26 19:36] m3gg3r commented on #290
I'm using 2.0.1

[2015-02-26 19:43] ganymedes01 commented on #287
What about other metals like metallurgy ones? Are those supported as well?

@AEnterprise Is there a way to add recipes using IMC? If not, is there an API?

[2015-02-26 20:47] BigXplosion commented on #287
@ganymedes01, metallurgy is supported by default along with some other things ([see here] (https://github.com/BCA-Team/Buildcraft-Additions/blob/2.1.x/src/main/java/buildcraftAdditions/ModIntegration/ModIntegration.java#L139-L189)).

I've also looked into how we would go about adding dusts via IMC messages, but I might leave that to @iTitus, who wrote the whole dust items system, as I'm not really

[2015-02-26 20:55] Jhary commented on #286
Nice to hear that this is being considered :)

[2015-02-26 21:01] iTitus commented on #287
@ganymedes01 As you can see [here](https://github.com/BCA-Team/Buildcraft-Additions/blob/2.1.x/src/main/java/buildcraftAdditions/api/item/dust/IDustManager.java#L14) the dust registration does not only require primitive types but an object, too. Currently there are two types of IDustTypes implemented (see [here](https://github.com/BCA-Team/Buildcraft-Additions/blob/2.1.x/src/main/java/buildcraftAd

[2015-02-26 21:11] iTitus commented on #287
@ganymedes01 Apart from that there is an API which you can use to add dusts and and recipes...

[2015-02-26 21:52] iTitus commented on #286
Good ideas are always welcome ;)

[2015-02-26 22:17] iTitus commented on #287
See #291 :D

[2015-02-27 00:23] ganymedes01 commented on #287
Well since AOBD only messes with ores that have ingots (so probably only metals), the addMetalDust would be enough for me :3

But it might be easier if I just use the API and add the recipes myself, it would fit better with the system I currently have.
Unless you make a IMC method for adding recipes to the duster directly, that would be better (one less API to import XD), could take a NBT tag with

[2015-02-27 03:48] astocky opened #292 "Crash with Buildcraft 6.4.1"
http://pastebin.com/QJkHkf8K

Crash caused by Buildcraft Additions 2.0.1 with Buildcraft 6.4.1

Seems related to new programmingTable

[2015-02-27 06:03] iTitus commented on #287
For the dusting there already IMC messages: The addDusting one takes a String or a Tag as an Input and a Tag as an Output. Same for the API ;)

[2015-02-27 06:06] iTitus commented on #292
Does this happen with only BC and BCA (+ Eureka & Forge) installed?

[2015-02-27 06:11] douchebagg8008 commented on #292
no it still crashes i have same issue

[2015-02-27 06:13] BigXplosion commented on #292
@iTitus, it is BCA who is causing the issue, I don't know how yet, maybe a wrong API version? https://github.com/BuildCraft/BuildCraft/issues/2505

[2015-02-27 06:16] douchebagg8008 commented on #292
hope it doesnt take long

[2015-02-27 06:31] iTitus commented on #292
@AEnterprise updated the API, but I dont know if this update contains that...

[2015-02-27 06:51] Adaptivity opened #293 "Automatically localize dusts by checking mod's .lang files"
In continuation of #265 instead of adding dust names into BCA .lang file, it would be better to check mod's .lang files for dust names. Like it was in versions before BCA 2.0.

[2015-02-27 07:30] AEnterprise commented on #292
no i didn't update the api on github yet, was waiting for 6.4.1, asie told me 6.4.0 was beta and api changes where still possible, i'll update the api we ship when i get home

@douchebagg8008 and @astocky you can easely fix this by opening the BCA jar file and deleting the BC folder, that should fix it

also not sure if i'll push a fix out on the 2.0 branch, might just do a 2.1 release soonish, de

[2015-02-27 07:31] AEnterprise commented on #293
i don't know to much about lang files and how MC handles them but as far as i know it takes all lang files and merges them together intro 1 larger file that contains all lang keys

[2015-02-27 07:34] AEnterprise commented on #286
it was something i though of before but it's a large project, i also don't want generators like the ones other mods have, i want new and original ones

[2015-02-27 07:36] AEnterprise commented on #290
alright i think i know why the fix didn't work, will try to fix it later today, also can you send me a copy of the world? then i can use it to test this as right now i'm working blindly and have no way of knowing for sure if it worked or not

[2015-02-27 07:45] Adaptivity commented on #293
Who refactored dust code? As I say, in previous versions (before BCA 2.0) all the dust were translated correctly because they're received names from mod's .lang files. For example: If in Metallurgy ru_RU.lang present "Damascus Steel Dust" string, it uses it(https://github.com/TeamMetallurgy/Metallurgy4/blob/master/src/main/resources/assets/metallurgy/lang/ru_RU.lang#L85). This how localization wor

[2015-02-27 07:49] AEnterprise commented on #293
blame @iTitus he refactored it, and from the  looks of it he threw out my code that made the dusts mimic dust names, i'm asigning him to him as he know the dust code best (and i already have alot of other things i'm working on atm)

[2015-02-27 07:49] AEnterprise commented on #293
also @iTitus please fix this on the 2.0 branch (master) if possible

[2015-02-27 08:52] m3gg3r commented on #290
Here is the world
https://www.dropbox.com/s/ecmz8di4dad0s47/Server.zip?dl=0
ca. 503 MB

[2015-02-27 08:57] AEnterprise commented on #290
alright i'll look at as soon as i have time

[2015-02-27 11:28] Jhary commented on #286
Diamonds for that AEnterprise. Would be cool to get some fresh wind regarding to that :)

[2015-02-27 11:51] AEnterprise commented on #286
one thing i'm thinking of doing (but will require some difficult rendering trickery) is jumping like the dusters, jump on one pad and it goes down, an other one oposite to the one you jump on goes up, then you have to jump on that one, it generates a small amount of energy (3-4RF for each jump?)

[2015-02-27 12:45] iTitus commented on #293
Will look into it ASAP ;)

[2015-02-27 16:53] asiekierka commented on #292
And they did happen on 6.4.1 by the way

[2015-02-27 16:53] asiekierka opened #294 "Proper config options for features"
Best to take care of this NOW before BCA grows even more.

By "features" I mean all features.

[2015-02-27 16:55] iTitus commented on #294
You mean (de)activating features too?

[2015-02-27 16:58] iTitus commented on #293
This will be very difficult:
- Just think of TEs Tinker's Alloy Ingots. Other mods call them Bronze Ingots. Which localization should be taken?
- For some metals/gems there are no dusts. Which localization should be taken?

[2015-02-27 17:08] Adaptivity commented on #293
This system worked before 2.0... why it's a problem now? 1) Ok, if there are both Bronze and Tinker's Alloy dusts present, pick Bronze (It's better I think). If there are no Bronze (no mods with bronze), pick Tinker's Alloy. 2) What? Isn't there are (https://github.com/BCA-Team/Buildcraft-Additions/blob/master/src/main/java/buildcraftAdditions/ModIntegration/ModIntegration.java#L137) all possible

[2015-02-27 18:20] AEnterprise commented on #294
while this gives greater control to modpack creators i am not overy fond of packs dissabeling 99% of a mod

[2015-02-27 18:50] iTitus commented on #293
When I want a localization for our Bronze dust i would look up dustBronze in the OreDictionary, pick the first dust and take this localization. But when we add Lapis Dust (just an example) and there are no other lapis dusts in the OreDict, how should I know how to translate that?

[2015-02-27 19:13] #290 closed

[2015-02-27 19:13] #292 closed

[2015-02-27 19:24] iTitus commented on #293
After some looking into it it will be pretty difficult and performance impacting to search for other dusts in the OreDict.
And a little clarification: Before 2.0 every dust was localized by its own.
There was for every dust: "item.dustXXXXXX.name=XXXXXX Dust".

Now there is just "item.dust.name=%s Dust" and then there need to be XXXXX=XXXX

[2015-02-28 02:55] microsuperman opened #297 "Unable to load or create world after upgrading from 1.8.4 to 2.0.1"
I am using 70+ mods. I don't seem to any crash error. but here is the log file.

[19:39:26] [main/INFO]: Setting user: microsuperman
[19:39:27] [Client thread/INFO]: LWJGL Version: 2.9.1
[19:39:28] [Client thread/ERROR]: Couldn't initialize twitch stream
[19:39:37] [Client thread/INFO]: Reloading ResourceManager: Default, FMLFileResourcePack:Forge Mod Loader, FMLFileResourcePack:Minecraft Forge, F

[2015-02-28 08:48] AEnterprise commented on #297
this isn't the entire log and nothing that would explain the error is in there, please upload the full log to dropbox or put it on pastebin and put a link here, otherwise i can't track this down

[2015-02-28 08:53] #293 closed

[2015-02-28 09:41] BigXplosion commented on #297
to be fair, I think this is the same issue as https://github.com/BCA-Team/Buildcraft-Additions/issues/290 which has been fixed

[2015-02-28 09:47] AEnterprise commented on #297
probably but i need the full log to be sure first, if it is something else i want to fix it first

[2015-02-28 15:23] microsuperman commented on #297
sorry about that. didn't know that git hub limited you input.
here is the log file.
https://dl.dropboxusercontent.com/u/45475605/error/latest.log

[2015-02-28 15:26] AEnterprise commented on #297
that log is useless, i need the client log that log just sais there was an error

[2015-02-28 15:28] microsuperman commented on #297
https://dl.dropboxusercontent.com/u/45475605/error/fml-client-latest.log
is this the log you are looking for?

[2015-02-28 16:00] AEnterprise commented on #297
yes it is, eighter you waila is to old or one of the mods is shiping and outdated version of the api

[2015-02-28 16:00] #297 closed

[2015-02-28 16:34] microsuperman commented on #297
That fixed it. I I updated waila. that requried updating NEI. And now 2.0.1 and 2.0.2 work.
Thanks for you help.

[2015-02-28 16:44] #294 closed

[2015-03-01 19:02] asiekierka opened #302 "MT Duster integration seems broken (and wrongly documented)"

[2015-03-01 19:33] iTitus commented on #302
Can you give more details please?

[2015-03-02 16:38] m3gg3r commented on #290
Hi

Now i tested v2.0.2 in my world but there are still missing ids

http://pastebin.com/0Hd7e5nj

[2015-03-02 17:20] AEnterprise commented on #290
@m3gg3r those should be safe to ignore

[2015-03-02 17:28] m3gg3r commented on #290
Looks like everything ok

Thanks for your time and the fix

[2015-03-04 17:56] BigXplosion commented on #302
@asiekierka, could you give a little more on what seems to be broken with the duster integration. Is the addition of recipes not working, or something else?

[2015-03-05 20:41] Be-Cool-Man opened #306 "Kinetic Multi-Tool didnt work on Anvils"
The breaking-speed is the same as you broke the anvil with bare hands

[2015-03-05 20:48] AEnterprise commented on #306
what BCA version are you using?

[2015-03-05 20:50] Be-Cool-Man opened #307 "Basic Coil (BCA) eats the Heating Coil (Extra Utilities)"
no description aviable, the title say all

[2015-03-05 20:50] Be-Cool-Man commented on #306
2.0.2

[2015-03-05 20:51] AEnterprise commented on #306
alright, looks like the anvil block wasn't in the list, should be fixed now

[2015-03-05 20:51] #306 closed

[2015-03-05 20:51] AEnterprise commented on #307
eats? what do you mean by eat?

[2015-03-05 20:58] Be-Cool-Man commented on #307
The Basic Coil "eats" coal (or any kind of furnace-fuel) to heating the Furnace. aka you put one coal in the coil, the coal disapears and genertate heat to melt the ore in the Heated Furnace. That was mean by eat.

[2015-03-05 21:05] Be-Cool-Man commented on #307
Additional information to the Heating Coil from Extra Utilities:

You can put the (fully heated) Heating Coil into an Vanilla-Furnace as fuel but it dosnt disapear, it 'loose' the stored heat during the melting-progress. If the heat is zero, you can put the coil out from the furnace and can it load/heating in any kind of an Charging Station.

[2015-03-05 21:13] iTitus commented on #307
A simple call to getContainerItem is needed there

[2015-03-05 21:19] Be-Cool-Man opened #308 "Kinetic Multi-Tool charging issue"
If you put thre empty Kinetic Capsules (must be the same tier) in the Kinetic Multi-Tool and put it in the Charging Station, the third Capsule gets an "endless" amount of energy (e.g: 1051324296 / 100000 RF) Mixed tiers working as provided.

€dith:
If i put the Energy Capsule after charging into the Charging Table (from BC) the right tab shows the following:
Enegy Required: -1051224296 RF
Stored:

[2015-03-05 21:24] iTitus commented on #308
Thats... strange.

[2015-03-05 21:38] Be-Cool-Man opened #309 "[Suggestion] Adding Decimal-Seperators"
Your Mod shows the stored RF like 100000000. That is hard to read. With Decimal-Seperators is this huge number easier to read. E.g: 100,000,000 RF

[2015-03-05 22:54] nister6000 opened #310 "Strange crash."
We got this crash: http://pastebin.com/fX9SFZdV

I dont know how this happend, i was not on the server.

We using Jenkins version 108.

[2015-03-06 13:45] AEnterprise commented on #307
@iTitus i leave the fixing of this to you then, my todo list is kinda full

[2015-03-06 15:09] iTitus commented on #308
Can't reproduce...

[2015-03-06 18:44] AEnterprise commented on #308
@Be-Cool-Man can you provide a modlist with version numbers?

[2015-03-06 18:47] AEnterprise commented on #287
closing as i think this is handled from the AEBD

[2015-03-06 18:47] #287 closed

[2015-03-06 20:56] #307 closed

[2015-03-06 20:56] #309 closed

[2015-03-06 21:04] iTitus commented on #308
@Be-Cool-Man This will be fixed in 2.1.0

[2015-03-06 21:41] Be-Cool-Man commented on #308
Sorry for late respone.

Here is the list:

[1.7.10]Treecapitator-universal-2.0.4
appliedenergistics2-rv2-beta-8
bamsgrave-1.7.2-1.4.2_01
buildcraft-6.4.2
BuildcraftAdditions-1.7.10-2.0.2
buildcraft-compat-6.4.0
ChickenChunks-1.7.10-1.3.4.17-universal
CodeChickenCore-1.7.10-1.0.4.35-universal (1)
EnderIO-1.7.10-2.2.8.344
EnderStorage-1.7.10-1.4.5.27-universal
extrautilities-1.2.1
ForgeMultipart-1.

[2015-03-06 22:59] nister6000 commented on #286
It would be good if Refinery would had more stuff like controller and energy input.

[2015-03-07 10:27] AEnterprise commented on #286
i 'm thinking of making a better, more modular one but i'm gona wait with making that kind of things cause it would break all current multiblock refineries completely

[2015-03-07 10:28] AEnterprise commented on #308
@Be-Cool-Man yes this is a BCA issue but has been fixed on the development branch, sadly the branch isn't ready for release yet

[2015-03-07 11:01] Speiger commented on #308
For me it sounds like a Sync Problem between Server and Client. In terms that you believed that the Container sends the server data as Integer, but it sends it as Short...

[2015-03-07 11:07] AEnterprise commented on #308
@Speiger the tool has been re-written and both iTitus and big_Xplosion tried it and where unable to reproduce this

[2015-03-07 11:18] Be-Cool-Man commented on #308
@AEnterprise
Don't haste. I can wait.

[2015-03-07 11:31] iTitus opened #315 "Connection Bug"
Normal BC pipes connect to configurable dusters only when the side configuration is INPUT or BOTH.

Maybe only allow the auto-ejecting only for extraction type pipes?

[2015-03-07 14:23] MatthiasMann opened #316 "heated furnace should give XP when the smelted item is manually taken out via the GUI"

[2015-03-07 15:14] #316 closed

[2015-03-07 21:38] iTitus commented on #315
Intended behaviour. Any type of extraction pipe will connect to the output sides. Use those if you want to use auto-eject.

[2015-03-07 23:46] Speiger commented on #308
@AEnterprise i think you guys are only testing on client only right? There you do not have these sync issus because the Server there do not send packets to the client (and even if they get handled totally differend then in servers), so every ContainerData Sending that happends through the ICrafting value will be requesting a Integer but is limited to a short.... So if you send more then a Short.Ma

[2015-03-08 10:44] AEnterprise commented on #308
@Speiger we mostly test on the client but i test some things on the server as well from time to time but i don't test everything and all corner cases again, that is just to time consuming

[2015-03-08 11:02] AEnterprise commented on #315
makes no sense to limit people to using extraction pipes, it will only confuse people, they'll think they need to power the pipe/detect if there is something to pull out, ...

it also worked like this in the past so NOT inteded behaviour

[2015-03-08 11:21] iTitus commented on #315
Ok then, will do.

[2015-03-08 16:18] #315 closed

[2015-03-08 16:57] AEnterprise commented on #302
pinging @asiekierka for mor info

[2015-03-11 16:30] AEnterprise commented on #302
closing due to a lack of information

[2015-03-11 16:30] #302 closed

[2015-03-11 20:36] #310 closed

[2015-03-14 15:46] Adaptivity opened #329 "Hide bcaTempFile"
Kinda minor issue but can you move bcaTempFile for example into BCA config folder?

[2015-03-14 15:52] AEnterprise commented on #329
hmm, it should actually remove that file afther it has read it as it is no longer needed then

[2015-03-14 15:54] Adaptivity commented on #329
I have it in .minecraft folder since forever (If I remove it, it creates again) :smile:

[2015-03-14 15:59] AEnterprise commented on #329
it creates it each time you launch to read out the a list on github

[2015-03-14 17:17] Adaptivity commented on #329
Also, won't create another issue for that but this line https://github.com/BCA-Team/Buildcraft-Additions/blob/0c2edf5f13873db36f2508d93d6d06001c13328b/src/main/java/buildcraftAdditions/core/EventListener.java#L52 is hardcoded. It's in the .lang file but it's not fully moved from code.

[2015-03-14 17:48] iTitus commented on #329
I can fix the second issue in my PR

[2015-03-16 10:54] AEnterprise commented on #308
someone claims this is still an issue in one of the recent jenkins builds

@iTitus can you test this again on a server please to be sure?

[2015-03-16 12:43] iTitus commented on #329
Fixed by #330

[2015-03-16 12:44] iTitus commented on #308
Will test now

[2015-03-16 12:46] #329 closed

[2015-03-19 15:48] iTitus commented on #308
Couldn't reproduce

[2015-03-19 15:50] AEnterprise opened #334 "connecting a refinery to a cooling tower directly"
BC can only tranfer up to 40MB/T max, upgraded cooling towers and refineries are faster

an import upgrade for the cooling tower and refinery valves would fix this, allowing to draw directly from an adjacent tank so no piping is needed. to connect a cooling tower to a refinery people just put the cooling tower on top of the refinery and stack 2 tanks to connect them and use eject and import upgrad

[2015-03-19 15:52] #308 closed

[2015-03-19 16:06] AEnterprise opened #335 "coloring tool gui"
coloring tool gui needs fixing, i remember someone told me he was gona do it

[2015-03-19 17:18] BigXplosion commented on #335
was I? could be though

[2015-03-20 08:45] AEnterprise commented on #335
yes you said you would do it, you where gona make the texture wider and draw the buttons correctly again, i asked if you had time to do it, you said yes. This was before you started on the new multiblock system

[2015-03-23 18:57] iTitus opened #339 "Rendering issues with the Kinetic Duster"
A few examples:

![Image 1](http://i.imgur.com/bhOvtJp.png)
![Image 2](http://i.imgur.com/PBL2fRB.png)
![Image 3](http://i.imgur.com/HTI9brJ.png)
![Image 4](http://i.imgur.com/RlRcWJd.png)

[2015-03-23 20:29] AEnterprise commented on #339
i know, it's the model doing that, plenituz just didn't have time yet to update the model

[2015-03-23 20:55] iTitus commented on #339
Just wanted to add that to our todo list that we don't forget it.

[2015-03-23 21:18] iTitus opened #340 "Improve Charging Station"
I suggest to add an empty mode, similiar to the FluidicCompressor, to empty IEnergyComtainerItems and powering RF machines/cables.

[2015-03-23 21:20] iTitus opened #341 "Sync bug with Fluidic Compressor in MP"
Occured to me in MP. If one player changes the mode on the Fluidic Compressor while another had the GUI open, too, he won't see the update.

I actually have plans on how to fix that. But that would require to change the current two buttons to one button. I wanted to discuss this fix with you.

[2015-03-23 21:23] iTitus commented on #341
This sync bug could also appear with the Item Sorter, did not test that one though.

[2015-03-23 21:25] iTitus commented on #341
Could also appear with the Machine Configurator.

[2015-03-23 21:40] iTitus opened #343 "Automatically drop installed upgrades on block destroy"

[2015-03-24 09:07] BigXplosion commented on #341
has to do with the container, I know how I can fix this, might have a little time to look into that tonight

[2015-03-24 11:59] AEnterprise commented on #343
isn't it doing that already?

[2015-03-24 11:59] AEnterprise commented on #340
then it's no longer a charging station, nor is this required

[2015-03-24 13:40] iTitus commented on #343
No

[2015-03-24 13:41] iTitus commented on #341
@BigXplosion I did not fix this as I have no idea how.

[2015-03-24 13:41] iTitus commented on #340
:(

[2015-03-24 13:41] #340 closed

[2015-03-24 13:41] iTitus commented on #340
It would be an Energy Interface or something like that

[2015-03-24 14:00] AEnterprise commented on #340
maybe later

[2015-03-24 14:01] AEnterprise commented on #341
the way to fix this is actually to send a packe't when something changes to the server who then sends an update packet to all nearby clients

[2015-03-24 14:02] AEnterprise commented on #343
refinery and cooling tower are doing that though when the multiblock invalidates, will apply something similar to the base class

[2015-03-24 14:03] iTitus commented on #343
I already did that locally

[2015-03-24 14:03] AEnterprise commented on #255
@iTitus any update on this?

[2015-03-24 14:03] AEnterprise commented on #343
then pr it :p

[2015-03-24 14:03] AEnterprise commented on #334
done

[2015-03-24 14:03] #334 closed

[2015-03-24 14:04] AEnterprise commented on #335
@BigXplosion any update on this or should i do it myself?

[2015-03-24 21:00] BigXplosion commented on #341
nope, there is an easier way, I'll look into it tomorrow as I have more time then

[2015-03-24 21:01] BigXplosion commented on #335
tomorrow

[2015-03-24 21:38] AlexTheGre4t commented on #335
Yeah. I changed the gui. Big_xplosion said he'd do it a while back :P

[2015-03-24 22:25] iTitus commented on #341
The widgets need to be constantly by updated by the client TE, which gets constantly updated by the Container?

[2015-03-25 11:19] Be-Cool-Man opened #346 "Website down"
or is my ISP going crazy?

when I open
     http://www.bcadditions.tk/
I will be forwarded to
     http://domain.dot.tk/p/?d=BCADDITIONS.TK&i=188.193.191.31&c=49&ro=0&ref=unknown&_=1427282116285

[2015-03-25 11:34] AEnterprise commented on #346
i know, something odd is going on with the site hosting. already pinged someone for it but it isn't something that is fixed in 5 secs

[2015-03-25 12:15] AEnterprise commented on #346
new website: http://bcadditions.ga/

now on to tracking down and updating all of them

[2015-03-25 12:15] #346 closed

[2015-03-25 13:41] AEnterprise commented on #343
fixed, closing

[2015-03-25 13:41] #343 closed

[2015-03-26 15:56] AEnterprise commented on #277
done

[2015-03-26 15:56] #277 closed

[2015-03-26 18:49] #335 closed

[2015-03-28 11:58] #255 closed

[2015-03-28 11:58] #339 closed

[2015-03-30 00:34] AgentK9 opened #350 "Eureka"
Tell me if I am wrong about this, but Eureka is supposed to be a core mod for many mods (possibly). Therefore, it should have either (A) a few things (By things I mean Items) e.g. research exclusive to vanilla mc or (B) no Items at all. So is there anything I can do to help bring stuff from Eureka over to BCA or something?

[2015-03-30 07:29] AEnterprise commented on #350
eureka only has a few things and non of those can/should be ported to BCA as they are part of the eureka research system. The only things eureka adds is the engineering diary for displaying the research and research notes for unlocking research

[2015-03-30 07:29] #350 closed

[2015-03-31 09:28] MtnDrew opened #352 "Crash On World Load"
When I updated to 2.1.0 today, I deleted the config first per your recommendation. When I loaded my world, the game crashed. Here is a link to my crash report on pastebin. http://pastebin.com/21M6VRFa

[2015-03-31 09:36] AEnterprise commented on #352
alright, there is no mention of BCA or any other mods in the stacktrace so i'm not sure whath heapened there, i'll pass along the report to some others and try to find the cause and fix it if it's BCA related

[2015-03-31 09:40] AEnterprise commented on #352
afther a closer look at the crash we stumbled accross line 155:
"Mantle Environment: DO NOT REPORT THIS CRASH! Unsupported mods in environment: optifine"

could you remove optifine and try again?

[2015-03-31 11:29] MtnDrew commented on #352
That's always there and I have no idea why. But optifine still seems to run without issues so I ignore it. Nevertheless, it's best to test it anyway. So I removed optifine and ran it again. If it helps any, here's another pastebin link. http://pastebin.com/KRtPpC23

[2015-03-31 12:13] iTitus commented on #352
I don't know why this could crash. The Crash report points to FMLProxyPacket.processPacket(INetHandler). In this method there are a lot of try-catch-blocks and null-checks. This crash shouldn't happen.
Can you please try it with only BC, Eureka and BCA installed.

[2015-03-31 12:13] iTitus commented on #352
(Make a backup before)

[2015-03-31 14:35] zHawky opened #353 "Language support"
Hi! thanks for update but one issue, russian language is missing
older versions have ru support, maybe you talk me where take ru lang file for replace?
(if someone asks then im trying to reload language from en to ru and backward)

[2015-03-31 14:36] iTitus commented on #353
Calling @Adaptivity...

[2015-03-31 14:58] Adaptivity commented on #353
It's impossible. It's still here: https://github.com/BCA-Team/Buildcraft-Additions/blob/2.1.x/src/main/resources/assets/bcadditions/lang/ru_RU.lang and Eureka here: https://github.com/BCA-Team/Buildcraft-Additions/tree/2.1.x/src/main/resources/assets/eureka/localizations/ru_RU
It's probably problem on your local setup. But I'll check it right now.

[2015-03-31 15:02] zHawky commented on #353
Well just now tested Deutch, same problem :\

[2015-03-31 15:11] AEnterprise commented on #353
if other languages also don't work it's a problem with your local setup i think

[2015-03-31 15:12] zHawky commented on #353
well in other mods work correctly, steampower, mekanism, even original buildcraft..

[2015-03-31 15:16] Adaptivity commented on #353
Working fine for me. Just tested.

[2015-03-31 15:18] zHawky commented on #353
But anyway im experiencing that problem only in two mods, there are magicbees and buildcraft additions, not critical..

[2015-03-31 15:20] Adaptivity commented on #353
As I say: check your local setup. It's not magic bees or BCA problem.

[2015-03-31 15:27] Adaptivity commented on #353
Seems I found it: only Eureka translation not working for you? Because for me it doesn't working.

[2015-03-31 15:27] zHawky commented on #353
Ну если моды работают то значит я верно их поставил так?

[2015-03-31 15:28] Adaptivity opened #355 "Two %s tags can't be swapped"
This tooltip -> https://github.com/BCA-Team/Buildcraft-Additions/blob/2.1.x/src/main/resources/assets/bcadditions/lang/en_US.lang#L179 contains two %s tags and they're can't be swapped. Perhaps you should change one of them and this solve the problem.

[2015-03-31 15:30] Adaptivity commented on #353
Да, новая система локализации не работает. Затронут только дневник. @AEnterprise @iTitus confirmed that engineering diary translation not working.

[2015-03-31 15:34] AEnterprise commented on #355
why should they be swapable?

[2015-03-31 15:36] Adaptivity commented on #355
I want to change it to format like: *Currently stores: Molten Copper (2000 mB)*

[2015-03-31 15:38] AEnterprise commented on #353
@Adaptivity that's cause it needs updating to the new lang system, you updated it for eureka but not for BCA

[2015-03-31 15:39] AEnterprise commented on #355
hmm, that might actually be a better format then what we have now, calling @iTitus and @BigXplosion for opinions

[2015-03-31 15:40] AEnterprise commented on #341
@iTitus is this fixed now?

[2015-03-31 15:43] Adaptivity commented on #355
You can use old format for English. I'm only need to change it in Russian because it's a bit ugly in this old format.

[2015-03-31 15:44] Adaptivity commented on #353
I'm half updated it. But even updated text still in English. You can check it yourself.

[2015-03-31 15:46] AEnterprise commented on #353
euh, what is the russian one in the list? there are a few things in the list that have characters that i can't read

[2015-03-31 15:49] AEnterprise commented on #355
alright, just gona wait on the others opinions first though, not gona release 2.1.1 in the next few days anyways unless something major pops up

[2015-03-31 15:50] Adaptivity commented on #353
http://i.imgur.com/A6Ov737.jpg

[2015-03-31 15:57] AEnterprise commented on #353
oh i found the error, derpy me, one sec please

[2015-03-31 16:14] AEnterprise commented on #353
fixed, will probably do new eureka release in a few days

[2015-03-31 16:14] #353 closed

[2015-03-31 16:16] iTitus commented on #355
They can be swapped

[2015-03-31 16:17] iTitus commented on #341
No

[2015-03-31 17:28] zHawky commented on #353
Well, appreciate for your feedback, thanks.

[2015-03-31 19:31] Be-Cool-Man opened #356 "Portable Laser projectile stucks in water"
If you fire the laser under water, the projectile gets stuck in the water.
The blue projectile stucks after ~15 meters
The red projectile stucks after ~40 meters

This behavior is reproducible repeatedly (In Survival and in Creative)

[2015-03-31 20:34] BigXplosion commented on #355
sure

[2015-03-31 21:58] iTitus commented on #356
I know the cause, will fix ASAP

[2015-04-01 10:50] AEnterprise commented on #222
gona close this as it could take a while before it is even possible to implement this

[2015-04-01 10:50] #222 closed

[2015-04-01 18:32] Be-Cool-Man opened #357 "Kinetic Backpack can hold 5 kinetic capsules"
Take a rightklick with a capsule on the cross between the four regular slots.

[2015-04-01 18:58] AlexTheGre4t commented on #357
Its not a bug, its a feature... :P

[2015-04-01 19:19] MtnDrew commented on #352
Sorry about the wait. Pretty busy yesterday. So I removed all the mods except BC, Eureka, BCA and BuildCraftCompat, started it up and played for about 2 seconds before it crashed. The crash log for that is here, http://pastebin.com/8AN6jD56 although it might have just been a weird coincidence. Then I removed BuildCraftCompat and kept only the 3 you said and after that the game worked perfectly fin

[2015-04-01 19:56] AEnterprise commented on #357
duno how that heapenend

[2015-04-01 20:35] Shayleel opened #358 "Can't place semi automatic duster without it to break"
Hi, I can’t place the semi automatic duster without it to break even if I have done the processing required with the basic duster and got the “Eureka” in the chat.
I also tried by giving myself the research notes but it still not working.

[2015-04-02 00:39] TheLoneWolfling opened #359 "Crash on assembly table assembling drill head"
It seems reproducible - just dump a *single* iron ingot, gold ingot, and tool core, tell the assembly table to make a drill head, and wait for it to craft. Crashlog is [here](http://pastebin.com/sCrzZFf2) - but the relevant section is below also.

This probably also causes crashes with other recipes that require multiples of a single item, although I haven't checked yet.

It seems like the assembl

[2015-04-02 00:50] TheLoneWolfling commented on #359
Welp, the world is now crashing on load with the same error. Of course it is - it saved partway through the assembly table crafting the broken recipe.

[2015-04-02 00:51] TheLoneWolfling commented on #359
"Fixed" it for now by enabling Forge's "remove crashing tile entities" mode.

[2015-04-02 01:03] TheLoneWolfling commented on #359
For now I'm working around it with the following lines in MineTweaker:

    mods.buildcraft.AssemblyTable.remove(<bcadditions:toolUpgradeDrill>);
    mods.buildcraft.AssemblyTable.addRecipe(<bcadditions:toolUpgradeDrill>, 1000, [<ore:ingotIron>, <ore:ingotGold>, <bcadditions:toolCore>]);
    mods.buildcraft.AssemblyTable.remove(<bcadditions:toolUpgradeHoe>);
    mods.buildcraft.AssemblyTable.addRe

[2015-04-02 07:20] AEnterprise commented on #352
ah i see the issue, you are still using eureka 2.2, you need to remove eureka (from the mods/1.7.10 folder) and install the latest one (3.0)

[2015-04-02 07:24] AEnterprise commented on #359
@TheLoneWolfling thanks for the clear bug report and all the investigating you have done so far.
enabeling the "remove crashing tile entities" does prevent the crash but also will mean you can lose stuff, so i sugest turning it off again as it might mask other crashes in the future so they won't get fixed

calling @asiekierka for this as i think this is a BC bug, i think this heapens cause the iro

[2015-04-02 07:25] AEnterprise commented on #358
odd, never heapened to me in testing, will investigate

[2015-04-02 13:36] AEnterprise commented on #358
did you get the eureka message before or afther you updated your eureka?

[2015-04-02 14:35] Shayleel commented on #358
It is a new installation of Buildcraft addition and Eureka, so after I installed the latest versions.
I also tried in a new world and it did the same.

[2015-04-02 15:02] AEnterprise commented on #358
so BCA and eureka are the only mods installed?

[2015-04-02 16:12] Shayleel commented on #358
No, I'm using this mod list : http://pastebin.com/javDiC1F

[2015-04-02 17:55] AEnterprise commented on #358
quite a big list, could you make a new world and try it there with only BC, BCA and eureka installed?

[2015-04-02 18:08] Shayleel commented on #358
I just tried it and still the same issue

[2015-04-02 18:19] xenexelen commented on #358
I have the same issue with only BC 6.4.6, BCA 2.1.0 and Eureka 3.0
In Creative no problem - in Survival the semi automatic duster break after research

[2015-04-02 18:23] Shayleel commented on #358
Also, when it break, I receive 1 gold ingot, 3 stones and 4 golden transport pipes, don't know if it's intended or not.

[2015-04-02 22:15] Be-Cool-Man opened #360 "Getting an NPE when i fire the Portable Laser without Eureka-Research (in Survival-Mode)"
Link to OpenEye:
http://openeye.openmods.info/crashes/0f5e299856d84196a6671dc492d58065

[2015-04-02 22:18] MtnDrew commented on #352
Aha well that explains a lot. That was my mistake. It's working now. Thank you very much for the help and thank you for the really cool mod.

[2015-04-03 11:37] AEnterprise commented on #352
glad you like the mods, probably should add a version thingy to prevent this in the future though

[2015-04-03 11:37] #352 closed

[2015-04-03 11:42] AEnterprise commented on #360
is actually an eureka issue not BCA, will still look intro fixing it

[2015-04-03 23:17] Xee1 opened #361 "Client crash with BCA 2.1.0"
Hi @AEnterprise , with latest build of BCA and Eureka I get this crash when I try to set:
    B:shouldRegisterDusts=false
This is the crash report: http://pastebin.com/NqEUKqy8
With 2.0.0 this worked fine.

[2015-04-04 06:07] chloeprince opened #362 "2.1.0 Crash"
Experiencing this crash when I run 2.1.0
I had to roll back to 2.0.2 and everything runs normally.

https://gist.github.com/chloeprince/a42fd4d8c695230212a0

[2015-04-04 10:42] AEnterprise commented on #362
BCA no longer auto-downloads eureka, you have to delete the old eureka 2.2 and update it to 3.0

[2015-04-04 10:43] AEnterprise commented on #361
probably a recipe that should be using oredict dusts but isn't

[2015-04-04 12:20] AEnterprise commented on #358
found the issue, derped up a few things in the update to eureka 3.0

[2015-04-04 12:25] #357 closed

[2015-04-04 12:25] #358 closed

[2015-04-04 12:25] #361 closed

[2015-04-04 14:10] chloeprince commented on #362
Oh man. That was a nice feature. Ok. Will it be coming back? Does the new Eureka 3.0 go in the sub folder 1.7.10 in the mods folder? Or does it go in just the mods folder now?

[2015-04-04 14:12] AEnterprise commented on #362
it isn't comming back for the simple reason that i wana be able to release a new eureka build with bugfixes without having to also release a new BCA build

it doesn't matter if you put it in the mods folder or the 1.7.10 folder for any mods

[2015-04-04 14:32] AEnterprise commented on #360
should be fixed

[2015-04-04 14:32] #360 closed

[2015-04-04 15:41] chloeprince commented on #362
Ok, I updated my pack with BCA 2.1.0 and put in Eureka 3.0.1, and I'm now getting this crash.
https://gist.github.com/chloeprince/f4882996ebe0a10a1801

[2015-04-04 15:44] AEnterprise commented on #362
that's a AE2 crash, nothing i can do about that you'll have to report it to them :/

[2015-04-04 15:44] #362 closed

[2015-04-04 15:48] chloeprince commented on #362
Wait a sec. You made an update to your mod, that now causes a conflict with a mod, and now its their issues? I roll back to BCA 2.0.2 and everything is fine. I don't see where this is their issue, based on the fact that it was your update that is now exploiting an issue with AE2. I would seem that anyone that has AE2 installed, who now updates their BCA mod to your latest version, will have a cras

[2015-04-04 15:55] AEnterprise commented on #362
i don't want to be blunt here but me changing something that makes there mod crash does make it there issue in this case, the issue is here "at appeng.me.NetworkEventBus$EventMethod.invoke(NetworkEventBus.java:182)" so something in there networking code is going wrong and i have no idea what could be causing it from my end, i didn't even touch the BCA networking code in the update.

you could try

[2015-04-04 15:58] AEnterprise commented on #362
and also: i have BCA, eureka and AE2 running on my pc just fine (with some other mods as well) so i am unable to reproduce this crash myself, so the conflict here would be between AE2 and another mod

[2015-04-04 16:01] chloeprince commented on #362
EUREKA!

 I updated from AE2 Build #22 to #24 and its resolved the issue. Seems they already caught this.

[2015-04-05 08:47] AEnterprise commented on #362
glad it's fixed then

[2015-04-05 12:46] Xee1 opened #363 "Build script doesn't work"
Hi @AEnterprise , I tryed to run gradlew, but this error happen:
****************************
 Powered By MCP:
 http://mcp.ocean-labs.de/
 Searge, ProfMobius, Fesh0r,
 R4wk, ZeuX, IngisKahn, bspkrs
 MCP Data version : unknown
****************************

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':test'.

* Try:
Run with --stacktrace

[2015-04-05 13:28] AEnterprise commented on #363
what is the commad you ran to excecute it and what are you trying to do?

[2015-04-05 14:50] Xee1 commented on #363
I'm doing gradlew build simply @AEnterprise , I'm trying to build the mod.

[2015-04-05 14:52] AEnterprise commented on #363
did you do:
[code]

[2015-04-05 15:03] Xee1 commented on #363
@AEnterprise  Oh, no, I only did gradlew build, sorry.
then I do :
git submodule init
git submodule update
gradlew build ?
Sorry but with submodule I'm very bad.

[2015-04-05 15:11] AEnterprise commented on #363
yeah that should work if you are on windows and have gradle installed, also why are you trying to compile the mod yourself and not just downloading compiled versions?

[2015-04-05 15:21] Xee1 commented on #363
For the annoying bug that I reported yesterday, just to test if it works

[2015-04-05 15:26] AEnterprise commented on #363
i tested it and it works don't worry, new release comming probably tomorow so if you're not a coder save yourself the trouble of setting it all up to compile

[2015-04-05 15:26] #363 closed

[2015-04-05 15:27] AEnterprise opened #364 "possible fluidic compressor dupe bug"
reported on the site, needs to be verified, if the bug exists it needs to be tracked down and fixed

[2015-04-05 15:31] Xee1 commented on #363
Thanks for all @AEnterprise , keep it up that awesome mod!

[2015-04-05 15:33] AEnterprise commented on #363
i will :)

[2015-04-05 17:36] Lathanael opened #365 "Minetweaker support + Dusters errors"
In reference to #302 !!

- It seems like the Minetweaker Support is wrongly documented
  Trying the command from this link
  http://bcadditions.ga/?page_id=605
  results in MT to error:
  https://gist.github.com/Lathanael/47056e76d86964469fb4
  Upon inspecting the code here on GitHub i found the correct syntax:
[code]

- It also has some bugs(using the updated syntax):
  - Ore Dict support missing

[2015-04-06 08:49] AEnterprise commented on #365
alright @iTitus renamed them (why is something i don't know) and the documentation wasn't updated
i'll keep it like this to not break working scripts again

there is no oredict support yet no, i'll look intro adding that

don't reload MT scripts that involve BCA for now, it'll try to remove the recipes again or add them a second time

and thanks for the clear bug report (and the reference to the o

[2015-04-06 09:12] AEnterprise commented on #365
wiki updated

[2015-04-06 09:15] AEnterprise opened #366 "kinetic capsules can't be removed from the backpack"
forgot to add that

[2015-04-06 09:21] asiekierka commented on #359
This is a very neat crash report! I'll investigate it today

[2015-04-06 10:07] AEnterprise commented on #364
dupe bug confirmed, now to fix it

[2015-04-06 10:27] #364 closed

[2015-04-06 10:48] nalilord opened #367 "2.1.0 crash when open Refinery GUI"
The refinery was broken and no longer working (first blocks said it hat oil and power, the last blocks said nope nothing), so i broke one block and replaced it, after it reformed the structure opening the GUI was no longer possible!

---- Minecraft Crash Report ----
// Oh - I know what I did wrong!

Time: 4/6/15 12:40 PM
Description: Rendering screen

java.lang.ArithmeticException: / by zero
	at b

[2015-04-06 10:50] AEnterprise commented on #367
has already been fixed
https://github.com/BCA-Team/Buildcraft-Additions/commit/599b1b3468c292724766e631122a8858bbcee967

[2015-04-06 10:50] #367 closed

[2015-04-06 14:06] Lathanael commented on #365
I suspected as much for the removal. My only concern is what happens if you switch servers with different settings for BCA. It might or might not crash your client as MT rolls back recipes before applying the new ones from the 2nd server(AFAIK). I currently can't verify that is my machine isn't capable of running 2 servers and 1 client.
___
The ore dict support would be a really nice-to-have featu

[2015-04-06 14:14] AEnterprise commented on #365
hmm, these are enhancements that would indeed be usefull, as you can see the crashes have been handled and oredict suppport has been added (open PR) maybe @iTitus can add these other things as well to it or do one of us will do it later

and asie is also codes but his bug report didn't contain any hint on what was broken and clear bug reports are kinda rare

[2015-04-06 14:16] iTitus commented on #365
Fixed everything in my PR. Reloading will work again and OreDict duster recipes via MT work perfectly.

Sadly it is not possible to remove recipes with a given output. This is caused by the layout of our recipe system.
What you can do is removing via OreDict:
mods.bcadditions.removeDusting(<ore:oreCopper>);
This will remove every recipe which has an itemstack as a valid input which is registered i

[2015-04-06 14:23] AlexTheGre4t commented on #365
Very nice to see this fixed. I ran into one or two little problems like this yesterday but I couldn't reproduce them

[2015-04-06 19:45] AEnterprise commented on #359
BC  issue, should be fixed

[2015-04-06 19:45] #359 closed

[2015-04-07 08:54] AEnterprise commented on #365
fixed

[2015-04-07 08:54] #365 closed

[2015-04-07 09:41] #355 closed

[2015-04-07 14:19] #366 closed

[2015-04-07 15:08] ryuben opened #369 "Using an AE2 network wrench"
on a KEB causes the KEB to pop off and then disapear

[2015-04-07 15:38] AEnterprise commented on #369
reference: https://github.com/AlexTheGre4t/MCTNG/issues/39

[2015-04-07 17:39] iTitus commented on #369
AppliedEnergistics/Applied-Energistics-2#237

[2015-04-07 18:36] #356 closed

[2015-04-07 18:36] #369 closed

[2015-04-08 02:51] MtnDrew opened #371 "Infinite Fuel Problem"
Alright, so I have no idea what I did, but I set up my fuel refinery last night, powered it up and now it just keeps producing fuel. The reservoirs of oil and fuel gas in the refinery are not depleting, and the reservoirs of fuel gas and fuel in the cooling tower are also seemingly infinite. I know having as much fuel as you could ever need is the Minecraft dream, but I do like the challenge of ha

[2015-04-08 07:16] AEnterprise commented on #371
hmm, will do a test of this to verify

[2015-04-08 08:34] iTitus commented on #371
Any upgrades installed?

[2015-04-08 09:58] #371 closed

[2015-04-08 11:58] ryuben opened #372 "Multi tool"
Got 3 tier 3 caps in it - it won';t charge past 1mill RF (one was charged when it and 2 tier 1 caps lived in the tool)

it shows 1/3mill rf - lasers hit the table but no power is going into the tool

Took the caps out and they charged fine by them selves and the tool accepted them in and show 3mill RF stored

[2015-04-08 12:13] AEnterprise commented on #372
just took a new tool, put 3 diamond capsules in it and it charged completely just fine in both the charging station and the charging table

[2015-04-08 17:44] Lathanael opened #374 "Suggestion: Computer controlled Sort-O-Tron"
As i already mentioned on Twitter, but i though maybe an "Issue" isn't the worst idea so nobody forgets it :) You can close it and i would be fine with it if you do not want the suggestion as an Issue.
Basically this would be a replacement for the RP2 Sortron.
_____________
Some integration of OC and CC to the Sort-O-Tron would be nice. Either build into the existing one or as a new block.

Here's

[2015-04-08 17:49] #372 closed

[2015-04-08 18:04] AlexTheGre4t commented on #374
A more advanced Sort-O-Tron is coming. Not sure when though due to big_Xplosion being gone for the past week or so. No word on him on when that's being implemented and what features it will have yet :)

[2015-04-08 18:48] iTitus commented on #374
It's a secret :P

[2015-04-08 18:49] BigXplosion commented on #374
yeah... all the knowledge about it is gone when I vanished... (vanishes again until he properly has time)

[2015-04-10 14:57] iTitus opened #378 "Achievements"
I suggest the introduction of achievements to BCA.
I need your suggestions for basic and special achievements.

I know that the concept of "Craft XXX" or "Build YYY" is included in Eureka, but achievements would be a nice thing to have,
I am putting this here for discussion.

[2015-04-10 14:58] iTitus opened #379 "Clay Mixer"
A basic block that is capable of mixing water and sand together to produce clay.
Maybe with a neat animated model :P

[2015-04-10 15:00] iTitus opened #380 "Discharging Station"
Either an additional mode for the Charging Station or a completely new block.
It should be capable of pulling RF out of any RF container in item form and providing that energy.

[2015-04-10 15:01] AEnterprise commented on #379
why would we need this?

[2015-04-10 15:05] iTitus commented on #379
Because it is cool :P
Clay mixing with this machine would be a low tech alternative for clay searching. It would take a lot of water and time to make clay.

[2015-04-10 15:08] iTitus commented on #379
Maybe it could even have tiering like the dusters.

[2015-04-10 15:13] AEnterprise commented on #379
not to fond of this idea, not realy exciting/original/usefull

[2015-04-10 15:18] AEnterprise commented on #380
i don't know cases where this would be usefull

[2015-04-10 16:44] iTitus commented on #379
That's why I opened this thread here so that everyone can contribute.

[2015-04-10 16:44] iTitus commented on #380
That's why I opened this thread here so that everyone can contribute.

[2015-04-11 18:15] TheLoneWolfling commented on #380
It would be useful for me, at least. There are far too many times I'm left with a slightly-charged item that as a result doesn't stack.

[2015-04-11 20:09] Be-Cool-Man opened #381 "After update to v.2.1.1 getting hint for a newer version of BCA (v.2.1.0)"
After updating to version 2.1.1 I get every time when loading a world the message that there is a new version of BCA:
[Quote]
There is a newer version of BuildCraft Additions aviable (2.1.0) Please consider updating.
[/Quote]

[2015-04-11 23:54] SvEgiiVEteR opened #382 "java.lang.IllegalStateException: Already tesselating! 2.1.1"
just not sure whether your mode problems, but when generated Powerplant and if flying or going near it 30 seconds then immediately crash the client. sometimes after 5 seconds.
and it is connected with OptiFine_1.7.10_HD_U_B5 as if to remove the error disappears.
If this is not your mod ... what do I do to find out how to find out?
thank you.
PS
long searched for the cause ... difficult to catch th

[2015-04-12 08:34] AEnterprise commented on #382
i'm sorry but there is nothing i can do about this nor can i track this down further. As you said it goes away with removing optifine and sadly optifine is know for messing with rendering and causing rendering issues.

The log you provided also doesn't narow it down, it shows that the error is from rendering an item on the ground, pure vanilla methods stacktrace

so i'm sorry but i can't help with

[2015-04-12 08:34] #382 closed

[2015-04-12 08:37] AEnterprise commented on #381
oh my bad, forgot to push to the master branch, fixed now

[2015-04-12 08:37] #381 closed

[2015-04-13 13:58] lukxx commented on #382
I've been trying to fix this issue for a week, sadly the only solution to fix this, is to remove optifine... I will report it to optifine forum page.

[2015-04-13 14:37] AEnterprise commented on #382
yeah sorry i can't help with this but as optifine is messing with the rendering there is nothing i can do

[2015-04-14 15:47] cocopuffs99 opened #384 "Packet exception handling bcadditions channel causes fatal error"
Hey Guys,

In the latest BCA version I am getting a "Connection Lost: A fatal error has occurred, this connection is terminated" error that resets me to the title screen for my MC client.  The ATLauncher log states:

[Client thread/ERROR] [FML]: There was a critical exception handling a packet on channel bcadditions
[14/4/2015 11:39:35 AM] io.netty.handler.codec.DecoderException: java.lang.IndexOu

[2015-04-14 17:51] AndrewCFairman opened #385 "Eureka crash when crafting certain tools in the crafting table"
Crashes to desktop when attempting to craft an iron axe or an iron pick at the crafting table (only tools I've tested so far).  Was attempting to craft tools for use by BC robots.  When recipe Items are placed in the crafting table and then the crafted item is removed from the table, the crash takes place.  The crash log appears to indicate it's a problem with Eureka, but not sure (using Eureka 2.

[2015-04-14 18:37] iTitus commented on #385
Next time you can use www.gist.github.com ;)

[2015-04-14 18:39] iTitus commented on #385
Please use the newest version of Eureka. It no longer auto-updates.

[2015-04-14 19:09] AndrewCFairman commented on #385
That solved it, thanks iTitus.  I wasn't aware that I'd need to download Eureka separately from BCA.  I never saw that posted on the site.

Thanks again for the fix as well as the link.  :)

[2015-04-14 19:09] #385 closed

[2015-04-15 07:27] AEnterprise commented on #384
hmm, try to track this down

[2015-04-15 20:35] AgentK9 opened #386 "Support for Fortune ores"
Just a nice to have for anyone who uses this mod: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1292510-fortuneores

[2015-04-15 20:57] iTitus commented on #386
What do you mean with support?

[2015-04-15 23:51] AgentK9 commented on #386
Never mind. The heated Furnace runs off of vanilla recipes, right?

[2015-04-16 05:03] iTitus commented on #386
Yes it does ;)

[2015-04-16 13:52] AgentK9 commented on #386
maybe, a bit OP, but support in dusters?

[2015-04-16 14:06] AEnterprise commented on #386
doubeling already doubled ores is indeed kinda OP, not a good idea for BCA if you want to do that use minetweaker or so to do that

[2015-04-16 14:06] #386 closed

[2015-04-17 12:20] AndyF21 opened #387 "Kinetic duster animation passes through blocks below it"
When processing ores in the kinetic duster, the animation passes through the floor and into the room below it.  It could just be the way that Minecraft renders animations or it could be my setup for all I know, but I felt the need to bring it up.  The "dust waterfall" that spews out of the duster seems a little excessive (reaches 4 or 5 blocks below it).  If the "bleed-through" effect can't be hel

[2015-04-17 12:22] iTitus commented on #387
We are using MCs standard block-breaking animation. If that derps up we cannot do anything about that. A new particle type would be an option.

[2015-04-17 12:23] iTitus commented on #387
Are the duster particle effects affected by the MC particle setting?

[2015-04-17 13:39] AndyF21 commented on #387
Just tested it.  Yes, setting particles to "minimal" removes the duster animation (as well as most other particle effects).

[2015-04-17 13:42] iTitus commented on #387
Thanks for testing.

[2015-04-17 17:07] AEnterprise commented on #387
yeah this is MC stuff but maybe a config option on our side might help

[2015-04-18 03:52] Speiger commented on #384
@AEnterprise that is a really hard bug. I had almost the same problem with IC2 Classic.
The system i cam up with was that i used the FMLIndexedMessageToMessageCodec for the channel manager & the SimpleChannelInboundHandler for the packet handler.
That thing works a little bit differend then your system but you only need to handle the PacketReceiving&Sending only 1 Time. Also you can handle own fun

[2015-04-18 07:52] AEnterprise commented on #384
yeah it's a touch nut to crack, i'm thinking of sending an identifier allong with the data that the machine checks on sync, also gona surround the reading call with a try-catch that just logs the error in the log as i suspect this is just packet A from machine A ending up at machine B

[2015-04-18 07:58] AEnterprise commented on #379
not gona add this at this time

[2015-04-18 07:58] #379 closed

[2015-04-18 07:59] AEnterprise commented on #380
sounds a bit OP to me, closing for now unless someone can convince of usage for this

[2015-04-18 07:59] #380 closed

[2015-04-18 07:59] AEnterprise commented on #374
pinging @BigXplosion

[2015-04-18 09:46] AEnterprise commented on #341
any update on this or should i fix this?

[2015-04-18 09:55] iTitus commented on #341
As stated above: I am not able to fix this in an elegant way.

[2015-04-18 09:56] AEnterprise commented on #341
fix is quite easy: if the button changes send a packet to the server, that then syncs to the other clients, fairly simple

i'll do it myself then

[2015-04-18 10:04] iTitus commented on #341
Every client TE is always up-to-date, you just need to update the buttons.

[2015-04-18 10:06] AEnterprise commented on #341
oh then it's even easier

[2015-04-18 10:34] Speiger commented on #384
I would say that you use Strings because they are harded to match then a Integer.
Also you need to send a Identifier for the Data amount. Not only the TileEntity should randomly add data to the thing. The Packets should be set by creation. To the adding and reading you should use Data Input/Output Streams because they have more functions/supports that make codewise a lot of stuff easier. Also you

[2015-04-18 11:10] AEnterprise commented on #384
integers are easier to sync and safe enough, also the data send and expected data will always be the same, if it isn't then the packet isn't from that TE

i don't need datastreams, the current way works fine for me and i don't know enough of networking stuff nor do i have the will to rewrite my system again

and your way isn't efficient at all, using reflection for syncing is a bad idea, it's your

[2015-04-18 11:10] #384 closed

[2015-04-18 11:10] #387 closed

[2015-04-18 14:13] Speiger commented on #384
True reflection is slow but allows to sync Fields just by names. Not that is a IC2 Feature i just made it to the Current network Setup compatible. But i like the idea where you say: "Update please that field".

[2015-04-18 15:24] AndyF21 commented on #387
Thanks!  :)

[2015-04-18 15:29] AEnterprise commented on #387
no problem, you will need to wait for the 2.2.0 release though

[2015-04-19 08:20] PancakeCandy opened #390 "Cant join my modded server with BCAdditions installed"
Server Log:
https://db.tt/HPwpu5SB

Client Log:
https://db.tt/vTumYGv1

Upon joining it comes up with a fatally missing blocks error upon removing BCAdditions from both the server and client it works again.

Used Dropbox instead of pastebin since these logs are massive.

[2015-04-19 09:03] iTitus commented on #390
Does this happen again if you try to connect to the server a second time?

Is there a screen with a yes/no-option asking you to confirm the joining?
If there is one you have to click the 'yes' button

[2015-04-19 10:16] AEnterprise commented on #390
are you sure both the client and server have the same version of BCA and the same configs?

[2015-04-19 10:57] PancakeCandy commented on #390
@iTitus Yes no matter how much i try i get the same error there is no confirm option coming up
@AEnterprise Yes Versions match Perfectly I even tried to copy my Bcadditions config to the server folder to match the configs perfectly but still not working

[2015-04-19 11:03] AEnterprise commented on #390
hmm, i do see you are running a bukkit server, that might be the only thing causing this issue then :/

[2015-04-19 11:07] PancakeCandy commented on #390
@AEnterprise I really prefer running on Cauldron which is bukkit combined with forge. But i could give forge's own server files a try see if that will work if it does its really a issue with cauldron

[2015-04-19 11:35] PancakeCandy commented on #390
@AEnterprise Tested with vanillia forge server Seems to be working perfect with the newest version
So yup that clearly much proves that its not working on a cauldron server only on vanillia forge.
Anyway i will be taking the mod temporary out of the cauldron server until I found a proper solution to the problem. For now i have to use vanillia forge i guess. Thanks for your help anyway

[2015-04-19 11:37] AEnterprise commented on #390
yeah, sorry that it doesn't work for you but there is nothing i can do about it :/

[2015-04-19 11:37] #390 closed

[2015-04-20 01:39] SvEgiiVEteR commented on #382
now the problem is gone again ... weird ... then it does not exist, then swoops down like locusts. tested more than once.

[2015-04-20 19:43] TheMrCaveman opened #392 "fuelgas bioethanolgas went missing"
fuel and bioethanol went missing after upgrading from 2.1.1 to 2.1.2
http://i.imgur.com/2GnYW3U.png

refinery is also not taking oil anymore?

[2015-04-21 01:27] AgentK9 commented on #382
Sometimes this happened to me when I go near a village w/o optifine.

[2015-04-21 07:43] AEnterprise commented on #392
hmm, did you update your forge?

[2015-04-21 15:45] TheMrCaveman commented on #392
yes tried everything from 1370 en up

[2015-04-21 16:06] AEnterprise commented on #392
take a backup and ignore, probably caused by the forge fluid changes

[2015-04-24 15:26] AEnterprise commented on #392
@TheMrCaveman : is this fixed now?

[2015-04-24 15:28] AEnterprise opened #393 "lava coils not using lava"
reported on the site, needs to be verified

[2015-04-24 18:57] TheMrCaveman commented on #392
No it is still missing when upgrading. So refinery is not working anymore.
It's not taking oil anymore. And all the fuel and bioethanol is simply not there anymore.
Only if i use forge 1343 or below the issue is not happening.

[2015-04-24 21:15] iTitus commented on #392
Maybe the fluid registration happens "too late" for Forge?

[2015-04-24 21:16] iTitus commented on #392
Any warnings about that in the console?

[2015-04-26 15:28] AEnterprise commented on #393
coils do use lava, might be a bit OP atm but they do use lava

[2015-04-26 19:40] Xee1 opened #397 "Can't create a new world"
Hi @AEnterprise , with BCA 2.1.2 Eureka 3.0.2 and BuildCraft 6.4.13 I've got this when I try to create a new world:
https://gist.github.com/Xee1/8bede32379cee8b25d2e
And the world isn't created.
This when I try to set:
    B:shouldRegisterDusts=true to false
Sorry for bad english.

[2015-04-27 13:59] Adaptivity opened #398 "Strange symbol in charge and fluid tooltips"
I saw this in many mods previously. And now in BCA... Screenshots: http://i.imgur.com/Al1jqvl.jpg http://i.imgur.com/Mx3y5WX.jpg I'm on BC 6.4.13 and BCA 2.1.2.

[2015-04-27 14:34] AEnterprise commented on #398
alright that's very odd, no idea what could be causing that

[2015-04-27 14:35] AEnterprise commented on #397
hmm, seems like i asumed gilded red metal dust would always be registered

[2015-04-27 15:14] iTitus commented on #398
Congratulations Java, you don't know the number separator in Russian.

[2015-04-27 15:15] iTitus commented on #397
Hmm, maybe I should add an option to dust types to allow to force the registration.

[2015-04-27 15:21] AEnterprise commented on #397
yeah that's what i was thinking

[2015-04-27 15:52] Adaptivity commented on #398
Russian? I've tested it on English...

[2015-04-27 18:29] iTitus commented on #398
Java tries to fill in the Number separators for your language.
Commas for English, dots for German etc.

[2015-04-27 18:39] Adaptivity commented on #398
I only can say that this problem was in Ender IO and it was fixed. But I can't find neither issue or commit which fixed it. But as I can see, they just removed commas from numbers...

[2015-04-29 11:50] AEnterprise commented on #398
java issue, nothing we can do about it from our end :/

[2015-04-29 11:50] #398 closed

[2015-04-29 11:50] #393 closed

[2015-04-29 11:51] #341 closed

[2015-04-29 12:24] #397 closed

[2015-04-29 12:47] AEnterprise commented on #392
works fine on my end, check the configs to make sure the multiblock refinery is enabled

[2015-04-29 12:47] #392 closed

[2015-04-29 13:23] iTitus commented on #397
I think that this won't work because the config option prevents any dusts from being registered and so the IDustType function won't even get called.

[2015-04-29 13:39] AEnterprise commented on #397
whell i created a new world with the dust registration config option turned off and it worked

[2015-05-01 11:33] Xee1 opened #400 "Crash with latest buildcraft"
Hi @AEnterprise , with latest buildcraft I get this crash https://gist.github.com/Xee1/68625fd033695a7c2d70
Andt his error in console:
https://gist.github.com/Xee1/462d8cd643727249df07
BCA 2.1.3
Buildcraft 6.4.14

[2015-05-01 11:42] BigXplosion commented on #400
BCA 2.1.3 is for BC 7 beta versions

[2015-05-01 11:51] Xee1 commented on #400
Oh, I haven't noticed. Sorry about that.

[2015-05-01 11:51] #400 closed

[2015-05-02 07:48] TheMrCaveman commented on #392
http://pastebin.com/kzmBvPiQ my server boot console and yes that is enabled!

Still not working here

[2015-05-02 09:00] iTitus commented on #392
I see some warnings about BCA trying to register null-fluids.
We have added a null-check to the registration, not much we can do else.
I blame Cauldron :P

[2015-05-02 09:38] TheMrCaveman commented on #392
Well here is a forge only boot:  http://pastebin.com/EQVLvr9x

And this is after confirming:  http://pastebin.com/9sb08vSN

Still not working

[2015-05-02 12:07] iTitus commented on #392
Maybe BCA 2.1.3 will fix this. But this version is only compatible with BC7

[2015-05-07 14:41] AEnterprise opened #404 "new KEB (Kinetic Explosive Buffer)"
a new kind of keb, only accepts energy and has a max, then you can set it off and make it explode with the new explosion algorithm meaning more damage

[2015-05-09 00:38] misterfixit opened #405 "Crashed to desktop trying to open a KEB"
https://www.dropbox.com/s/e99x4irppwwgsw5/crash-2015-05-08_20.36.04-client.txt?dl=0

[2015-05-09 07:58] AEnterprise commented on #405
should be an easy fix

[2015-05-09 15:45] AEnterprise commented on #405
hmm, seems like the only thing that would cause this crash is an KEB with a capacity of 0, that would probably be caused by a setting in your configs or something messed with the keb NBT data

[2015-05-10 00:16] Noobsloth opened #407 "java.lang.NoClassDefFoundError"
http://pastebin.com/yitWuVEJ

[2015-05-10 06:37] leSamo commented on #407
BCA 2.1.3 requires BC 7, you are using BC 6.4.14. http://mod-buildcraft.com/buildcraft-703-beta-compat-700-beta.html.

[2015-05-10 06:39] leSamo commented on #407
protip: usually NoClassDefFoundError means, that you are missing a mod that other mod depends on, or they are not compatible.

[2015-05-10 07:38] AEnterprise commented on #407
indeed, i should have put this in the mod annotation so forge detects it and shows an error instad of crashing

[2015-05-10 07:38] #407 closed

[2015-05-10 09:11] Xee1 opened #408 "Recipes don't use the Ore Dictionary"
Hi, all recipes doesn't use ore dictionary for gear, in fact, I can only use gear for BuildCraft, and for example not from ThermalExpansion.
Ore dictionary for gears are:
gearGold
gearIron
gearStone
gearDiamond
gearWood

[2015-05-10 09:35] iTitus commented on #407
This is included in my PR ;)

[2015-05-10 11:06] AEnterprise commented on #408
for gona keep it that way, need to tackle the recipes for 2.2 anyways, some are gona change to be less dependant on specific BC items

[2015-05-10 11:59] BlackYamato opened #409 "Client crashes by opening Cooling Tower GUI."
Client crashes by opening Cooling Tower GUI.
It happens in the multiplayer.
It seems that does not occur in a single play.
Please fix.

Environment:
・Minecraft 1.7.10
・Minecraft Forge 10.13.2.1291
・BuildCraft 6.4.8 (This is the latest version corresponding to the Forge 1291.)
・BuildCraft Compat 6.4.2
・BuildCraft Additions 2.1.2
　etc.

Client Crash Report
・http://pastebin.com/jkTeDHDb

[2015-05-10 12:06] AEnterprise commented on #409
you need to update your forge and BC, the crash comes from recent forge fluid changes that are not compatible with older forge builds, so you need to upgrade forge or downgrade BCA

[2015-05-10 12:06] #409 closed

[2015-05-10 19:38] TheMrCaveman opened #410 "Server wont boot with bca 2.1.3"
Server crash with BCA 2.1.3

http://pastebin.com/cLRVPtWZ

[2015-05-10 20:00] iTitus commented on #410
BCA is not (yet) compatible with BC 7.0.4, try 7.0.3 or wait for an update of BCA.

[2015-05-11 06:58] Sasikaa opened #411 "buildcraftAdditions/compat/buildcraft/recipe/ToolCoreRecipe"
Here is my crash log with new BC7.0.4 and BC-C 7.0.2:

---- Minecraft Crash Report ----
// Don't do that.

Time: 5/11/15 8:54 AM
Description: There was a severe problem during mod loading that has caused the game to fail

cpw.mods.fml.common.LoaderException: java.lang.NoClassDefFoundError: buildcraftAdditions/compat/buildcraft/recipe/ToolCoreRecipe
	at cpw.mods.fml.common.LoadController.transition

[2015-05-11 08:38] AEnterprise commented on #411
hmm, asie told me stuff like this wouldn't change anymore, will need to have a talk to him about this

[2015-05-11 08:39] AEnterprise commented on #411
duplicate of #410

[2015-05-11 08:39] #411 closed

[2015-05-11 08:40] AEnterprise commented on #410
need to talk to asie, told me this stuff wouldn't realy change anymore, also saw him say on irc that 7.0.4 further broke things

[2015-05-11 08:55] AEnterprise commented on #410
alright, the integration table api changed (again) but this should be the final one, will update to it when i get home and do a new release (might see about some other minor things as well)

[2015-05-11 20:04] TheMrCaveman commented on #410
thanks  A lot!

[2015-05-11 20:04] #410 closed

[2015-05-11 22:20] AgentK9 opened #412 "Kinetic Multi-tool"
I downloaded Chilm's World on curse, and whenever I right-click the tool on thin air, it disapears.

Mods:
BC 7.0.2
BCA 2.1.3
Railcraft 9.6.0.0
DoggyStyle 1.0.5.78
damageIndicators
Mine and Blade: BattleGear 2
Adventure Backpack
BiblioCraft
BCcompat
Carpenter's Blocks
CodeChickenCore
DenseOres
dungeonpack
ender storage
Eureka 3.0.2
Finder Compass
Ganys Surface
Inventory tweaks
Iron chest
Jabba
Jou

[2015-05-12 06:41] AEnterprise commented on #412
did you unlock the research for it?

[2015-05-12 11:09] critaL opened #413 "Crashing to desktop"
Here is the crashlog
http://pastebin.com/TfcW19Z1

I have no idea what im doing wrong or how to fix it since this is my first time dabbling with custom modpacks. I have the latest Buildcraft Additions and Buildcraft 7.0.4/Buildcraft compat 7.0.2

[2015-05-12 11:33] iTitus commented on #413
BC 7.0.4 is not yet compatible with BCA 2.1.3, try BC 7.0.3...

[2015-05-12 12:24] AgentK9 commented on #412
oooooooooooooooooooooooooooooooooooooooohhhhhhhhhhhhhh... I might reopen this if that doesn't work

[2015-05-12 12:24] AgentK9 commented on #412
I forgot about that

[2015-05-12 12:24] #412 closed

[2015-05-12 14:05] AEnterprise commented on #413
update is comming

[2015-05-13 09:26] AEnterprise commented on #405
@misterfixit any update on this?

[2015-05-14 03:29] misterfixit commented on #405
I haven't run into the issue recently but the KEB defenitely did not have a capacity of 0

[2015-05-15 08:23] AEnterprise commented on #405
does it still heapen or was this a one time occurance?

[2015-05-15 08:24] AEnterprise opened #414 "implement essence textures"

[2015-05-15 11:27] Lathanael commented on #374
Seems like @BigXplosion is vanished in a big explosion :P

[2015-05-15 11:30] BigXplosion commented on #374
no @Lathanael I was away for a week (again) due school and scouting reasons, this is on the todo list but I did some little improvements and additions to the code at first and also with the exams coming up this might not be for 2.2 but I'll try my best

[2015-05-15 18:21] AEnterprise commented on #405
found the bug

[2015-05-15 18:37] AEnterprise commented on #405
should be fixed

[2015-05-15 18:37] #405 closed

[2015-05-15 20:53] AgentK9 opened #415 "Updating notice thing"
The most recent BCA (2.1.3) whenever you open a world it says that there is an update (2.1.2)

[2015-05-16 07:46] AEnterprise commented on #415
fixed, duno how that heapened

[2015-05-16 07:46] #415 closed

[2015-05-16 22:25] misterfixit commented on #405
thanks sorry I couldnt be of much help it was very random it seemed

[2015-05-17 09:56] AEnterprise commented on #414
done

[2015-05-17 09:56] #414 closed

[2015-05-17 12:13] AEnterprise commented on #286
gona move this, already have other things for 2.2

[2015-05-18 14:43] Virezz opened #417 "Refinary wont accept Buildcraft oil"
Hi,
I have a bit of a problem, im trying to feed a refinery with Oil ( BuildCraft|Energy:bucketOil ) and it wont be piped into the refinery at all
https://imgur.com/a/ZeMqG
Tried 2 alternatives here just to see if it was something with TE pipes but BC pipes doesnt do anything either.
Has power as NEI tooltip says
https://imgur.com/a/Nqy3G
Nothing in either of the tanks in the refinery GUI
https://

[2015-05-20 07:47] Hirsu commented on #417
I'd like to add a +1 to this issue.
I'm using the same set of mods as the OP.
The refinery multiblock structure builds just fine, but I can't get it to accept any oil.

[2015-05-20 08:51] AEnterprise commented on #417
the problem is that i can't replicate this, though the latest BCA is for BC7 so it is possible that fixed it, not sure

[2015-05-20 10:49] Virezz commented on #417
the latest BCA for BC7 crashes with BC6.x installed. and ofc alot of other mods including forestry and logistic pipes isnt up to speed for bc7 atleast not the version i have without going into dev builds of them.

basicly we are using the AT launchers resonate rise pack with new mainline checked under mod selection, i guess maybe download that and see if u can replicate that, might be a fluid dict

[2015-05-20 11:37] AEnterprise commented on #417
i migrated to 7.0 with BCA cause not much work is being done on the 6.x branch, also BC 7 should be stable pretty soon

again: i know it doesn't work in the RR pack but i have no clue why, nothing should have been changed that would break it, i can only assume some other mod is doing something to the BC refinery recipes, it's that or a forge fluid change

[2015-05-22 04:19] RatchetMP opened #418 "Heated Furnace Bug BCA 2.1.3"
So I was smelting dusts from Thermal Expansion and Tinkers and noticed if you leave a previously smelted ingot in the furnace the other dusts will smelt into that ingot. So turning Lead to Silver or Ardite to Cobalt but it doesn't work with vanilla ingots.

BCA Transmutation FTW

[2015-05-22 09:48] AEnterprise commented on #418
hmm, probably the mod ingots are eighter metadata or nbt different and i'm probably not checking for that then

[2015-05-22 13:20] #413 closed

[2015-05-22 13:47] #418 closed

[2015-05-23 09:23] AEnterprise commented on #417
seems like this isn't an issue using BC7 and the most recent BCA, i have tried but failed to track down the cause, as a temp fix i sugest using minetweaker to manually add the recipes back in  (oil to fuel gass in 1:1 ratio, heat required is 120, gas to fuel in cooling tower is also 1:1 ratio with a heat production of 0.06)

[2015-05-23 09:23] #417 closed

[2015-05-23 17:47] Virezz commented on #417
Hi again,
What would your gas and oil be called so i can call it in a minetweaker recipe ?
I tried mt liquids and i cant see something obvious that is fuel gas there, i have oil and fuel.

Have 2 alternatives that im gonna try:

import mods.bcadditions.refinery;
mods.bcadditions.refinery.addRefineryRecipe(<liquid:oil> , <liquid:whatevergas is called>, <120>);

import mods.bcadditions.refinery;
mod

[2015-05-23 18:09] AEnterprise commented on #417
yeah that wiki page should be up to date, it seems like the fuel gas doesn't exist due to the fact that BCA makes that based on the refinery recipe, if another mod allows you to add fluids i sugest you do that, otherwise add a direct oil to fuel recipe

[2015-05-28 20:39] acun1994 opened #422 "Cross Mod Interaction"
Version: 2.1.4
Mods affected: Botania (build 190)

Jumping on a Basic Duster and a Semi Automatic Duster does not register (no progress on item processing, WAILA reports agree) when a Soujourner's Sash is equipped.

[2015-05-29 06:33] AEnterprise commented on #422
hmm, this is a botania bug, the sash is preventing the duster from knowing that someone landed on it

[2015-05-29 07:54] AEnterprise commented on #422
so to be sure: it works without the sash but not with?

[2015-05-29 07:55] acun1994 commented on #422
Yup. If the sash is in player inventory (bauble inventory and normal inventory), the dusters don't register jumps. Once I place the sash in a chest, it works again

[2015-05-29 07:58] AEnterprise commented on #422
alright, talked to the botania dev's and this is a thing we can't fix, the sash reduces your fall distance (2block buffer, compensates for the jump boost) but that makes MC think you didn't fall on the block at all, you'll have to un-equip your sash to the duster, sorry

[2015-05-29 07:58] #422 closed

[2015-05-29 07:59] acun1994 commented on #422
Yeah, read the issue over at Botania's Github. Shame though, but still just a minor bug.

[2015-05-29 07:59] AEnterprise commented on #422
they might make a thing to fix it but atm there is nothing i can do about it

[2015-06-05 11:46] KaneHart opened #423 "Coolin Tower Crash TileCoolingTower.onBlockActivated"
Nothing changed but at times it seems to crash on it's own. We have had this on 2 diff servers and both times the cooling tower blocks were not touched as in moved, broken, placed, etc.

http://pastebin.com/ihmRR2BT

ADDED Issue:
At times not sure why but the fuel process seems to just fail randomly. As in it does not process anymore even if it's full of liquids. The only cure we have found is to

[2015-06-05 11:50] AEnterprise commented on #423
note: probably a issue with data saving/loading, needs investigating

[2015-06-05 23:50] KaneHart opened #424 "Buildcraft Additions Cooling Tower / Refinery."
I would post it all here but one of our members wrote a really good report:
http://stonelegion.com/threads/buildcraft-additions-client-crash.2970/

[2015-06-06 08:45] AEnterprise commented on #424
yeah this is an odd thing, not sure what could be causing it

[2015-06-06 13:09] #424 closed

[2015-06-06 14:27] Xen1290 opened #425 "Can't create a new world BCA 2.1.4/BC 7.0.6"
For the third time, if I remove dust registration(    B:shouldRegisterDusts=false  ), the game doesn't work, here the error:
https://gist.github.com/Xee1/342914842f857b7220ea
@AEnterprise
In theory, is should was fixed long time ago, but that it still remain.
#397
#361

[2015-06-06 14:46] AEnterprise commented on #425
very odd, i can't figure out why this keeps returning

[2015-06-07 12:36] #423 closed

[2015-06-07 12:36] AEnterprise commented on #408
done in https://github.com/BCA-Team/Buildcraft-Additions/commit/fd80fb810fa815573d4b48d3da7e7f047efedf40

[2015-06-07 12:36] #408 closed

[2015-06-07 12:58] Xen1 commented on #408
Thanks!

[2015-06-07 16:40] Yulife opened #426 "BC-A Dusts do not smelt in the Smeltery"

[2015-06-08 09:45] AEnterprise commented on #425
calling @iTitus in on this one, i thought i fixed it but clearly missed something, a fresh pair of eyes on this would be the best way to handle this

[2015-06-08 09:45] AEnterprise commented on #378
what's the status on this?

[2015-06-08 09:51] AEnterprise commented on #426
should be relatively easy to add, for reference: https://gist.github.com/bonii-xx/e46f9d9e81e29d796b1b#file-toolmaterials-L69-L86

[2015-06-08 11:48] iTitus commented on #378
We can merge this first batche once I aligned it to the branch

[2015-06-08 11:51] iTitus commented on #425
I will look into this.

[2015-06-08 12:07] iTitus commented on #425
Can you please re-upload the crash report, I can't access it...

[2015-06-08 15:23] LouisHutch opened #427 "T2 KEB Missing textures"
BCA 2.2.0-PG-Jenkins-201

See: http://imgur.com/a/QQ2l3
The top and Bottom textures on T2 KEB are missing

With bonus images of me with the Hover boots and Rocket pants on :)

[2015-06-08 15:27] #427 closed

[2015-06-08 15:28] AEnterprise commented on #425
easy to reproduce, turn off the config for dusts and make a new world

also any chanse of this being done in the next few days? would like to have this fixed in 2.2.0

[2015-06-09 15:47] AEnterprise commented on #426
handled on the side of extra TiC

[2015-06-09 15:47] #426 closed

[2015-06-10 00:05] AgentK9 opened #428 "2.2.0 (Jenkins 206 (dev))"
crash: https://gist.github.com/AgentK9/e26903c24f004cefe70e
Also: not sure if this is just because of being in a dev enviroment, but whatevs:
crash2: looks like incompat with new forge (.1445): https://gist.github.com/AgentK9/de2bdef613f9c8cb5b3e

[2015-06-10 08:00] AEnterprise commented on #428
first crash is caused by buildcraft, second one should not be heapening, both are realy odd, can you try forge .1400 and a non dev environment?

[2015-06-10 08:44] AEnterprise commented on #428
both crashes have same cause: mappings changed in the newer forge, compiled versions still work but the dev versions don't, downgrade forge or wait for a build compiled against newer forge

[2015-06-10 08:44] #428 closed

[2015-06-10 09:43] AEnterprise commented on #425
i just tried to recreate this but i failed, dissabled dust registration and made a new world, no crash, no dusts registered. could you provide a crashlog @Xen1290 ? also BCA and forge versions please

[2015-06-10 09:56] iTitus commented on #425
This is the same thing I did seconds ago, nothing crashed...

[2015-06-10 10:45] Xen1290 commented on #425
Sure, but now I haven't the pc with me. please, wait until tonight(GMT+1) and I give you everything you need

[2015-06-10 19:34] Xen1290 commented on #425
Ok, so here all the information you need @AEnterprise , @iTitus
Note: I tried to explain as well as possible, let me know if you do not understand something. I'm sorry if I made mistakes with English !

Here the error in console when I try to create a new world with B:shouldRegisterDusts=false, this appear in console, he doesn't create a crash report, because the game return me in the menu screen.

[2015-06-12 13:42] leSamo opened #429 "BCA 2.2 beta missing Iron Canister recipe"

[2015-06-12 18:15] leSamo commented on #425
Could you try to reproduce it without AOBD?

[2015-06-12 18:18] AEnterprise commented on #425
it is odd, can you reproduce with just BCA, BC and eureka and no other mods?

[2015-06-12 19:00] leSamo commented on #425
So I tried it with
BC 7.0.9
BCA 2.2.0-205
Eureka IDK latest
and didn't crash.

[2015-06-13 08:59] Xen1290 commented on #425
Yes, I can confirm @leSamo . @AEnterprise But this is strange, maybe a mod is messing with your dust register?

[2015-06-13 09:01] AEnterprise commented on #425
yeah, i sugest adding in the mods that have something to do with dusts till you find the offender

[2015-06-13 09:03] Xen1290 commented on #425
Yeah, I'll try it right now.

[2015-06-13 14:16] Xen1290 commented on #425
I FINALLY figured out the mod that have messed the dust register, I don't know why, but it is Flaxbeard's Steam Power - 1.7.10-0.28.7. Without it, everything works. @AEnterprise @iTitus
I call @xbony2 if can help us to figure out that strange error.

[2015-06-13 14:36] Xen1290 commented on #425
EDIT: There are many mods that cause that crash, not only Flaxbeard... I'll try to find.

[2015-06-13 15:26] AEnterprise commented on #425
alright so it is not on our side then thanks, hope you can find the mod/mods that cause it so it can be delt with

[2015-06-13 15:33] Xen1290 commented on #425
I hope I FINALLY figured out the problem, EVERY mod that add any type of dusts, doesn't work with B:shouldRegisterDusts=false . @AEnterprise
I tried with AE2,IC2,EnderIO, every that mod doesn't work. I think is in your side. If you try to put BC,BCA,BCC, and IC2 or AE2 or any type of mod that add dusts and you set B:shouldRegisterDusts=false the error appear.

[2015-06-13 15:36] AEnterprise commented on #425
that is very odd

[2015-06-13 15:37] Xen1290 commented on #425
Tested for example with :
Eureka-1.7.10-3.0.2
buildcraft-7.0.9
BuildcraftAdditions-1.7.10-2.1.4
buildcraft-compat-7.0.8
EnderIO-1.7.10-2.3.0.388_beta

[2015-06-13 15:40] Xen1290 commented on #425
Yeah, very strange, I don't know what's going on with dust register.
Oh, I'm using MultiMC, I don't know if is useful.

[2015-06-13 16:56] leSamo commented on #425
Maybe remove this config option before it gets fixed?

[2015-06-13 17:03] AEnterprise commented on #425
removing the config option is not an option

[2015-06-13 17:16] AEnterprise commented on #425
can you reproduce with the latest jenkinsbuild (http://ci.tterrag.com/job/Buildcraft-Additions/) if so can you give a new crashreport? the line number doesn't match with what i have in dev so don't know what is exactly crashing

[2015-06-13 17:21] #429 closed

[2015-06-13 19:17] Xen1290 commented on #425
Sure, tried with latest build on jenkins, same thing, here you are the error that appear in console:
https://gist.github.com/Xen1290/7a086ccd84ab8ea45796
@AEnterprise

[2015-06-13 19:57] AEnterprise commented on #425
i think i found the error then, can you try again with build 209?

[2015-06-13 20:10] Xen1290 commented on #425
Same result with 209.... @AEnterprise  Here the error:
https://gist.github.com/Xen1290/f391d4fbd0b6828592b2

Oh, just another thing, this appear in console on startup, I don't know if is important, so:
[22:04:31] [Client thread/WARN] [FML]: ****************************************
[22:04:31] [Client thread/WARN] [FML]: * The object buildcraftAdditions.items.ItemRobotDebugTool@46d1ecea has been reg

[2015-06-14 06:56] AEnterprise commented on #425
pinging @iTitus

[2015-06-14 17:03] AEnterprise commented on #425
jenkins is building yet another build, can you try that one?

[2015-06-14 17:25] Xen1290 commented on #425
Tried with 210... same thing @AEnterprise :

https://gist.github.com/Xen1290/eab2b524ad068afcd02b

[2015-06-20 00:57] b0bst3r opened #431 "Assembly table recipes requiring ingots use considerably more in SMP"
Firstly this only occurs in SMP it doesn't seem to be an issue in SSP.

Buildcraft-7.0.9.jar with BuildcraftAdditions-1.7.10-2.1.4.jar and logisticspipes-0.9.1.15.jar and buildcraft-compat-7.0.8.jar

Removed LP - problem still there
Removed BC Compat - problem still there

An example - pipe wire (any color) should be 1 redstone, 1 rose red and 1 iron ingot  it shows in NEI as requiring 1 redstone,

[2015-06-20 06:51] AEnterprise commented on #431
o.0

BCA 2.1.4 i have no idea at all how this could be heapening

calling @asiekierka for how the assembly table works and how i could be causing this as i'm only registering recipes

[2015-06-20 07:40] AEnterprise commented on #431
unable to reproduce in my dev environment, can you try updating BC and BCC? that should fix the problem then

[2015-06-20 09:16] #425 closed

[2015-06-20 09:43] iTitus commented on #425
Nice solution ;)

[2015-06-20 10:00] b0bst3r commented on #431
I spent hours last night trying to narrow this down and although removing BCA resolves the issue it is also resolved by removing ThermalRecycling-1.7.10-0.3.8.4.jar.

I came to this conclusion by starting with BC and BCA (plus a few other core mods and working my way up until finding what caused the issue to manifest.

So not entirely sure what I've found lol

[2015-06-20 10:16] Xen1290 commented on #425
Thank you! I'll try it

[2015-06-20 10:19] AEnterprise commented on #425
it's what i should have done the first time :P

[2015-06-20 10:27] b0bst3r commented on #431
And when I finally tracked down which mod caused this and go to bug report it I find it already done and fixed in an alpha release ...... https://github.com/OreCruncher/ThermalRecycling/issues/25

[2015-06-20 10:27] #431 closed

[2015-06-20 10:30] AEnterprise commented on #431
alright, good to know that it has been fixed, very weird it doesn't heapen when BCA isn't installed though

[2015-06-20 11:11] b0bst3r commented on #431
Yeah very weird seems more like a cross mod compatibility issue remove one or the other and the problem disappears.  So maybe it's something you are adding that breaks Thermal Recycling.  I dunno, I 'm only speculating as I can't write code for toffee.  I would suggest you chat with TR dev though and see if you can't see what and why.  Good luck :)

[2015-06-20 12:29] asiekierka commented on #431
Thermal Recycling wasn't creating copies of the ItemStacks from recipes it was manipulating, from what I can see. This confused a reasonable chunk of the code.

[2015-06-22 18:59] jerry1333 opened #434 "Can't force old fuel production"
Hi,
tried to force old oil to fuel recipe to be enabled but in any way it's not working.

Config:
B:MultiBlockRefining=false
B:forceEnableBCRefinery=true

and still bc refinery is converting oil to fuel gas.

[2015-06-22 19:55] AEnterprise commented on #434
hmm, probably forgot to dissable the converter

[2015-06-22 21:25] jerry1333 commented on #434
Is this file responsible for this?
Buildcraft-Additions/src/main/java/buildcraftAdditions/utils/fluids/RefineryRecipeConverter.java

[2015-06-22 21:40] MrKickkiller commented on #434
@jerry1333 : Probably, but deleting that file will not help. It will rather cause the build / jar / mod to fail.

[2015-06-22 21:49] jerry1333 commented on #434
@MrKickkiller Yes I know, don't have eclipse setup right now so I can't test it, but simple if should be enough to fix it.

[2015-06-23 09:07] AEnterprise commented on #434
if you don't have eclipse, intellij or anything similar setup please DON'T try to fix it because you would not be able to test it at all

[2015-06-23 09:25] AEnterprise commented on #434
*fixes, not fixex, stupid typo's

[2015-06-23 09:25] #434 closed

[2015-06-23 16:16] jerry1333 commented on #434
Thanks.

[2015-06-24 02:02] b0bst3r opened #435 "Can't add further upgrades to Kinetic Multi Tool"
Version 2.2.0 with BC 7.0.12

You can make the KMT no problem and add in a head but when it comes to upgrading the tool to add in another upgrade it doesn't seem to work.

The manual suggests you need a quartz chipset and gold stick however putting the KMT in the integration table only opens 1 slot and neither the gold stick or the quartz chipset are allowed in the table together.

NEI suggests th

[2015-06-24 07:02] AEnterprise commented on #435
NEI is correct in this case, the documentation needs an update

[2015-06-24 12:07] InFerNos1 opened #436 "Texture issues (2.2.0)"
Machine Upgrade: 'Auto-Eject' has missing texture, as does 'Robot Debug Tool', but that might be intended as it's creative only.
Gasoline gas is a blue flame. It this is intended, it sure is weird.
![2015-06-24_22 06 20](https://cloud.githubusercontent.com/assets/1023518/8329516/48c268a0-1abd-11e5-83f5-2131dbff6457.png)

[2015-06-24 13:54] AEnterprise commented on #436
robot debug tool is inteded, gasolene gas is odd, are you sure that is added by BCA?

[2015-06-24 19:37] AgentK9 opened #437 "Update checker issue again"
Same thing as last time I reported this. except it says the most recent update 2.1.3

[2015-06-24 22:56] Deckee opened #438 "Texture mismatch with fuel gas ."
This is not the fist time ive seen something like this. I though that this was fix in the 1.7.10 forge builds. But things break.
![2015-06-24_17 46 54](https://cloud.githubusercontent.com/assets/8199121/8343382/4002b012-1a9a-11e5-92a9-17590c6061da.png)
![2015-06-24_17 51 13](https://cloud.githubusercontent.com/assets/8199121/8343383/45d62bae-1a9a-11e5-9a00-cfbcbf0ad206.png)
![2015-06-24_17 51 41](

[2015-06-25 07:40] AEnterprise commented on #438
o.0 very odd, i did not change a thing so must be a change on the forge side

[2015-06-25 07:41] AEnterprise commented on #437
didn't push yet before i went offline because the file wasn't aproved yet, pushed now

[2015-06-25 07:41] #437 closed

[2015-06-25 07:52] BigXplosion commented on #438
I know forge changed something that the texturemap is only build once now, not 2 times like before. This way a way to bring down the loading time. I haven't really looked into this and what it changed but it could have to do with it. But first we need to know what version of forge you are using.

[2015-06-25 12:05] Deckee commented on #438
You were wondering what forge im using, the build is is 10.13.4.1470.

[2015-06-25 12:08] Deckee commented on #438
The bc7 build im using is 7.0.9 with bc compat 7.0.4

[2015-06-25 14:07] AEnterprise commented on #438
are there any other fluids affected? do you have optifine installed?

[2015-06-25 22:21] Deckee commented on #438
Jus the fuel gas. my computer has more than enough power to run mc with optifine, optifine is not installed but fastcraft 1.21 is.

[2015-06-26 07:17] BigXplosion commented on #438
@Deckee could you try and add this to your run arguments and see what happens ```-Dfml.skipFirstTextureLoad=false```

[2015-06-26 08:10] AEnterprise commented on #438
thought of that but seems unlikely as i'm listening to the texture event so even if the first one doesn't work properly the second (complete) texture load should override it anyways and fix it

[2015-06-26 08:58] AEnterprise commented on #436
probably the same #438

[2015-06-26 20:33] Deckee commented on #438
I try the -Dfml.skipFirstTextureLoad=false argument and the fuel gas took the texture of rc steam fluid block.

[2015-06-27 01:58] Deckee commented on #438
![2015-06-26_20 55 17](https://cloud.githubusercontent.com/assets/8199121/8389999/13adc5c6-1c46-11e5-8a1b-d17f9409c980.png)
And hers what the fluid block looks like.

[2015-06-27 07:52] AEnterprise commented on #438
this get's weirder and weirder

[2015-06-27 12:51] iTitus commented on #438
Does that happen without FastCraft?
Could you please try this with and without the special launch argument.
Also, does that happen with only BCA+BC?

[2015-06-27 22:05] Deckee commented on #438
With out fast craft
![2015-06-27_17 01 45](https://cloud.githubusercontent.com/assets/8199121/8394083/a5091ba8-1cee-11e5-9dae-35ef4227c86f.png)

[2015-06-29 09:57] Deckee commented on #438
"this get's weirder and weirder" AEnterprise
Im going to agree with that.

[2015-06-29 19:24] jerry1333 commented on #438
Same for me, using Resonant Rise pack + newest BCA (2.2.0).
![2015-06-29_21 22 55](https://cloud.githubusercontent.com/assets/984193/8416308/1dcf1936-1ea5-11e5-9741-77eb87703a0f.png)

[2015-07-01 10:33] Xen1290 commented on #438
I can confirm, other fluids are ok, only fuel gas.
Test on 200+ mods forge 10.13.4.1481 and BCA 2.2.0

[2015-07-01 10:40] AEnterprise commented on #438
can you force a texture reload? (F3 + T) and let me know if that fixes it or not

[2015-07-01 20:07] jerry1333 commented on #438
Just tested clean install:
forge-1.7.10-10.13.4.1448-1.7.10-universal.jar
BUILDCRAFT-7.0.12.jar
BUILDCRAFTADDITIONS-1.7.10-2.1.4.jar
CODECHICKENCORE-1.7.10-1.0.7.46-UNIVERSAL.jar
EUREKA-1.7.10-3.0.2.jar
NOTENOUGHITEMS-1.7.10-1.0.5.111-UNIVERSAL.jar

Works well.
![2015-07-01_22 02 30](https://cloud.githubusercontent.com/assets/984193/8463721/042bc9a4-203d-11e5-8766-b4bd9d262f62.png)

When changed t

[2015-07-01 23:01] Deckee commented on #438
f3+t doesn't fix the texture.

[2015-07-02 11:24] AEnterprise commented on #438
hmm, so there must be some thing that i did change that is causing this, very weird

[2015-07-02 12:32] Xen1290 opened #439 "Error in console"
Hi, with BCA 2.2.0 I get that error in console:
Forge 1481

 [14:31:41] [Thread-15/INFO] [BuildCraft Additions]: Trying to get the special list file...
[14:31:41] [Client thread/WARN] [FML]: ****************************************
[14:31:41] [Client thread/WARN] [FML]: * The object buildcraftAdditions.items.ItemRobotDebugTool@5504240c has been registered twice for the same name bcadditions:robotD

[2015-07-02 12:41] AEnterprise commented on #439
hmm, probably when i moved that tool i copied instead of moved the registration of it

[2015-07-03 13:44] jre08 opened #440 "Error on Keyboard input"
Pressing any key on the keyboard will crash Minecraft.  Here is the error report I receive:
I only receive this while using the 2.2.0 version.

---- Minecraft Crash Report ----
// There are four lights!

Time: 7/3/15 8:07 AM
Description: Unexpected error

java.lang.IndexOutOfBoundsException
	at java.nio.Buffer.checkIndex(Unknown Source)
	at java.nio.DirectByteBuffer.get(Unknown Source)
	at org.lwj

[2015-07-03 13:52] iTitus commented on #440
Did you change your key bindings for "jump" and "forward" ?

[2015-07-03 14:24] jre08 commented on #440
I did for jump but not forward.   I have jump on my mouse.

[2015-07-03 14:36] iTitus commented on #440
Ok, that is the cause of the issue.
For now you have to rebind the key to something on your keyboard, sorry.
We will see what we can so about that.

[2015-07-04 09:02] AEnterprise commented on #440
yeah, will have to see if we can fix this

[2015-07-04 18:08] iTitus commented on #440
I think TiCon had a similiar problem...

[2015-07-06 12:06] Xen1290 opened #441 "Error in console"
Hi, other error in console, BCA 2.2.0 Forge 1481
[14:03:50] [Client thread/INFO] [BuildCraft Additions]: Buildcraft refinery recipe detected, input: Oil, output: Fuel
[14:03:50] [Client thread/WARN] [FML]: ****************************************
[14:03:50] [Client thread/WARN] [FML]: * The object buildcraftAdditions.items.ItemBucketBCA@b1349ff has been registered twice for the same name bcadditio

[2015-07-06 18:32] AgentK9 opened #443 "Config option for textures"
I personally like the way the textures were before 2.2. I would like a config option to change between them

[2015-07-06 18:33] AlexTheGre4t commented on #443
That can be sorted out. I'm gonna make a resource pack at least.
On 6 Jul 2015 19:32, "AgentK9" <notifications@github.com> wrote:

[2015-07-06 18:33] AEnterprise commented on #443
best bet is a resourcepack by alex then, config option is a hassle

[2015-07-06 18:34] AgentK9 commented on #443
ok

[2015-07-06 18:34] AgentK9 commented on #443
no offence alex

[2015-07-06 18:36] AlexTheGre4t commented on #443
None taken. I am also a huge fan of the old textures. But they were
designed from the original BC retexture ideas. They were then changed
within BC so I retextured BCA to match.
On 6 Jul 2015 19:34, "AgentK9" <notifications@github.com> wrote:

[2015-07-06 19:24] AEnterprise commented on #443
whell with the new mod and seperating from BC i'm not sure what the eventual textures well be, original, these or others

[2015-07-06 23:54] Zetharion opened #444 "Advanced Kinetic Buffer Plating block breaking on placement?"
Tried to start building the Advanced Kinetic Buffer and when placing down a plating block, it broke into 2 Diamond Kinesis Pipes, 4 gold Ingots, and 3 Iron Ingots.  We do have Eureka 3.0.2, BCA 2.2.0 and BC 7.0.12, BC Compat 7.0.8.  Its a custom pack on Curse called Qmunity Subscriber Modpack.

If it matters, I made 2 Large Kinetic Buffers and placed them down but they had red x's on all the sides

[2015-07-07 00:59] AgentK9 commented on #444
Then you need to unlock it in the book

[2015-07-07 01:00] AgentK9 opened #445 "KEB minecarts"
I know there are many more efficient ways to transport energy, but for completeness' sake, WHY NOT???

[2015-07-07 01:21] Zetharion commented on #444
Yeah, I just crashed the server trying to make the 2x2x2 large energy buffer.

[2015-07-07 06:10] iTitus commented on #445
I actually do like the idea :D

[2015-07-07 07:13] AEnterprise commented on #444
the drops are indeed incorrect, the recipe changed and i completely forgot to fix the drops

as for the crash: i'll need a crashlog, without it it's impossible to know what went wrong that needs fixing

[2015-07-07 07:14] AEnterprise commented on #445
why not? cause i didn't get arround to doing it, also with the new mod migration might take a bit

[2015-07-07 07:16] #436 closed

[2015-07-07 07:16] #438 closed

[2015-07-07 07:16] #440 closed

[2015-07-07 07:49] BigXplosion commented on #445
Well we talked about this once in IRC, I liked the idea but I guess no new features for BCA anymore? only for KR?

[2015-07-07 07:52] AEnterprise commented on #445
as we're gona be moving BCA stuff to KR i sugest adding new features directly to there, saves the hassle of having to port it later

[2015-07-07 08:10] BigXplosion commented on #445
yeah what I thought :D

[2015-07-07 13:02] jre08 commented on #440
Thank you for all your hard ward.  I will be updating as soon as possible.

[2015-07-07 13:09] AgentK9 commented on #445
I realize that, @AEnterprise. just putting it out there

[2015-07-07 13:14] AEnterprise commented on #440
there is no update out yet, not sure when i'll release it

[2015-07-07 14:31] Adaptivity commented on #441
Can confirm

[2015-07-07 14:33] AEnterprise commented on #441
duplicate of #439 , different thing, same cause

[2015-07-07 14:33] #441 closed

[2015-07-07 14:44] jre08 commented on #440
Ok.. no problem  I didn't figure a release would be out just yet.

[2015-07-07 19:59] Zetharion commented on #444
Ok, got a copy of the crash report from the server admin:

http://pastebin.com/zbL1gDhd

[2015-07-08 07:31] AEnterprise commented on #444
alright, eureka crash, will take a look and fix

[2015-07-12 19:16] AgentK9 commented on #286
I assume this is what those multiblocks are that you are posting on twitter :P

[2015-07-30 09:14] #439 closed

[2015-07-30 09:20] AEnterprise commented on #444
fixed

[2015-07-30 09:20] #444 closed

[2015-07-30 09:21] AEnterprise commented on #443
not gona do this in BCA itself

[2015-07-30 09:21] #443 closed

[2015-07-30 09:21] #435 closed

[2015-07-30 09:31] AlexTheGre4t commented on #443
I'll get onto resource pack when I'm back from vacation
On 30 Jul 2015 11:21, "AEnterprise" <notifications@github.com> wrote:

[2015-07-30 09:37] AEnterprise commented on #443
when will you be back?

[2015-07-30 09:37] AlexTheGre4t commented on #443
Sunday
On 30 Jul 2015 11:37, "AEnterprise" <notifications@github.com> wrote:

[2015-07-30 09:41] AEnterprise commented on #443
alright, you have time to do some textures next week then?

[2015-07-30 09:44] AlexTheGre4t commented on #443
Yeah. Gonna have loads of time for the next 4 weeks
On 30 Jul 2015 11:41, "AEnterprise" <notifications@github.com> wrote:

[2015-07-30 09:44] AEnterprise commented on #443
great

[2015-08-19 17:24] krakel opened #446 "Tool Core incompatible to integration table of buildcraft-1.7.10-7.0.9"
The integration table was changed on buildcraft-1.7.10-7.0.9. The parts gold gear and diamond chipset can not put together in this new table to create the Tool Core.

[2015-08-19 21:05] iTitus commented on #446
The recipe should exist. I will check now.

[2015-08-19 21:09] iTitus commented on #446
![2015-08-19_23 08 15](https://cloud.githubusercontent.com/assets/5154317/9369073/46df3668-46c7-11e5-9d25-148509f2e21d.png)

[2015-08-20 06:10] DerOli82 commented on #446
I've updated all BuildCraft related mods and now it works.

[2015-08-20 07:21] AEnterprise commented on #446
just a side note: integration recipes with the tool itself are a bit buggy, hope to fix that later this week

[2015-08-20 07:21] #446 closed

[2015-08-27 04:06] spannerman79 opened #448 "[Website Offline] Config options"
Hi there,
What options in your config do i need to change to disable the villager and the powerplant from creating/spawning?

[2015-08-27 06:54] AEnterprise commented on #448
there are no config options to dissable those, there is a new config option to dissable the power pipes in the structure cause that's the part that si crashing

[2015-08-28 02:26] spannerman79 commented on #448
That is such a pity.  Would you consider adding those config options to a "to-do" list for your mod?

[2015-08-28 08:56] AEnterprise commented on #448
why would you want to dissable the whole thing?

[2015-08-29 21:20] SvEgiiVEteR opened #449 "NoClassDefFoundError server"
BuildcraftAdditions-1.7.10-2.2.1.jar
cpw.mods.fml.common.LoaderException: java.lang.NoClassDefFoundError: net/minecraft/client/model/ModelBiped
http://paste.ubuntu.com/12225398/

[2015-08-29 23:19] iTitus commented on #449
Looks like a missing @SideOnly annotation

[2015-08-30 08:47] AEnterprise commented on #449
darn it

[2015-08-30 09:27] #449 closed

[2015-08-31 13:27] Sasikaa opened #450 "The NEW bc-additions crashing when clicking the energy buffer"
The crash report:
http://pastebin.com/xKzQeDK5

(The energy buffer connected mekanism elite energy cable. The energy cable connected, AE2 machines, Mekanism machine, Thermal Exp. machine. The energy input the Energy buffer is tesseract-->elite cable--->buffer, and mekanism wind turbine (3)--->elite cable--->buffer)

[2015-08-31 14:09] AEnterprise commented on #450
is it actually storing power?

[2015-09-29 11:44] erkro1 opened #451 "Update to Buildcraft 7.1"
Since Buildcraft 7.1 just got a stable release, will you update BC-Additions to work with it? (Or are there minor changes and will it still work?)

[2015-09-29 11:56] AEnterprise commented on #451
in theory it should work, just test and and let me know if it blows up

[2015-09-29 15:58] erkro1 commented on #451
I haven't tested it very good (only seeing if it started up and if an old world could be loaded), but that seemed to work. Thanks!

[2015-09-29 15:58] #451 closed

[2015-10-10 20:23] Drakoflame opened #452 "BCA Causes crash whenever I install with WAILA"
Here is the pastebin crashlog: http://pastebin.com/Qbh5UFEc

I'm thinking that it could be that I have an outdated WAILA, because I was watching the BCA Mod review, and I noticed that they have waila, so I'm going to go update that, and come back to say whether or not the crash is still happening

[2015-10-10 20:40] Drakoflame commented on #452
Alright, updating WAILA solved my issue! Fault on my part :p

[2015-10-10 20:40] #452 closed

[2015-10-13 21:37] wormzjl opened #453 "Minetweaker integration documentation"
Since the website is down, is there any other source of documentation available?

[2015-10-14 08:32] AEnterprise commented on #453
i'm looking intro setting up a new site

for now you could try looking at the code for the syntax: https://github.com/BCA-Team/Buildcraft-Additions/tree/2.2.x/src/main/java/buildcraftAdditions/compat/minetweaker/script

[2015-10-18 00:22] FaberoneX opened #454 "Why does Buildcraft Additions generate dusts of already present dusts?"
Like Pyrotheum Dust for example: https://i.gyazo.com/0b1febec18e272287d3cad19b3ed766f.gif
The recipes are identical

[2015-10-18 00:30] iTitus commented on #454
The dusts are only added if the original dust exists. We are currently reworking the dusts (and everything else for that matter) in a new mod.

[2015-10-18 09:19] #454 closed

[2015-10-19 18:54] romanticjo opened #455 "Make the multi-tool even better."
1. With the Area Augment installed, allow a mode toggle between mine-1 vs mine-9.
 (very dangerous too use the tool with area-augment as using shift-leftclick is easy to forget)
2. Add a veinminer augment, usable both on trees/ore veins, only usable when in mine-1 mode.
3. Speed upgrades. It's fast, but it could be made faster.
4. Block replacement augment.  Swap target block with blocks in the in

[2015-10-20 06:39] AEnterprise commented on #455
1 and 4 should be doable and i'll look intro those

2 sounds kina OP and if you realy want that function just install veinminer
3 i'll consider but it's already faster and making it TO fast makes it unusable cause  you'll be repairing terrain all the time then

[2015-10-20 11:49] iTitus commented on #455
I think 4 is also a little bit too OP/not fitting. Swapping blocks is mostly connected to ender things/magic. One block swaps might be doable though.

[2015-10-20 11:58] AEnterprise commented on #455
@iTitus i was thinking about simple thing to replace a single block, replacing multiple blocks is something else, might do that but with 1 by 1 with a high powercost

[2015-10-20 21:19] romanticjo commented on #455
I think it is interesting if a player has to make 'choices' on how to configure the multitool.  This is achievable already with the slot mechanic, so keeping the number of slots limited keeps the tool from becoming too op.

Consider that augments deemed very powerful (or too powerful) could be gated on high requirements or progression items.

Thinking about the veinminer upgrade, it is useful and

[2015-10-31 00:20] Be-Cool-Man commented on #451
I have not found misconduct...

[2015-10-31 10:53] iTitus commented on #451
That's good to hear ;)

[2015-11-02 01:01] romanticjo opened #456 "crash with large kinetic energy buffer"
Playing revolution pack on AtLauncher, got this:

https://gist.github.com/romanticjo/9ebc493bb66fcd9ab165

[2015-11-02 08:07] AEnterprise commented on #456
should be easy enough to fix

[2015-11-02 10:12] #456 closed

[2015-11-02 15:45] romanticjo commented on #456
Sweet!
Where are the downloads for the mod? I'll send a link to the pack maintainer.

[2015-11-02 15:48] AEnterprise commented on #456
there is no new version out yet, should be one up tomorow though

[2015-11-04 15:18] Xariyl commented on #455
I like the idea of an Area augment. 1x1, 2x2, or 3x3 options would be nice.

For replacing blocks, I don't feel it fits the theme of the mod. Placing, sure... think TiC tools... I could see that. But straight swapping? I do love magic mods, and if the feature was added to BCA/KR I would use it...  But really it doesn't feel right.

The other suggestions I don't have much opinion on. The tool is pl

[2015-11-25 16:04] spannerman79 commented on #448
While I love your mod and how it extends BuildCraft with the other mods I have running on a private server that myself and a couple of friends share I find the less needed to be run code wise should - in theory - would be better.

Hence why I asked if there was an option/config switch to disable villager and structure spawning for your mod specifically.

If you have no intention to fair enough and

[2015-11-25 17:49] AEnterprise commented on #448
to be honest i forgot about this issue for a bit, i'm making a new mod and all BCA content will move to it (it will be for minecraft 1.8.8 anyways) so i'm not gona realy bother with this as i see no real reson to, if you want to dissable unneeded code to run you can just dissable village generation all together

[2015-11-25 17:49] #448 closed

[2015-12-02 14:04] #453 closed

[2015-12-02 14:05] AEnterprise commented on #450
closing due to lack of input and unable to reproduce, i'll reopen if someone can give me more info on how to reproduce

[2015-12-02 14:05] #450 closed

[2015-12-02 14:05] AEnterprise commented on #445
closing, will be something for the new mod

[2015-12-02 14:05] #445 closed

[2015-12-02 14:06] AEnterprise commented on #404
closing, will be something for the new mod

[2015-12-02 14:06] #404 closed

[2015-12-02 14:06] AEnterprise commented on #286
closing, will be something for the new mod

[2015-12-02 14:06] #286 closed

[2015-12-02 14:06] #378 closed

[2015-12-02 14:06] AEnterprise commented on #374
closing, will be something for the new mod

[2015-12-02 14:06] #374 closed

[2015-12-09 22:00] Dead2 opened #458 "Crash on startup due to disabled buildcraft wrench"
Disabling buildcraft wrench by setting the following setting in buildcrafts config results in crash on startup.
B:wrenchItem=false

[09/12/2015 22:44:40 PM] [Client thread/ERROR] [FML]: Caught exception from bcadditions
[09/12/2015 22:44:40 PM] java.lang.RuntimeException: Invalid shaped ore recipe: RIB,  W , YIY, B, dyeBlue, I, ingotIron, R, dyeRed, W, null, Y, dyeYellow, 1xitem.machineConfigurato

[2015-12-10 12:21] AEnterprise commented on #458
thanks, forgot that the BC wrench could be dissabled, i'll see what i can do about this, detecting a wrench is a tricky thing so i'll probably change it to using something like iron instead if the BC wrench is missing

[2015-12-16 13:09] #458 closed

[2015-12-21 01:54] hron84 opened #459 "[QUESTION] Coolant tower does not import fuel gas?"
I trying to use BCA 2.2.3 with BC 7.1.14 and BC-Compat 7.1.3. I built a Coolant Tower, it formed right, I feeding it with water and I trying to feed it with a Fuel Gas right from my BCA Refinery. However, I see the bottom valve is filled with Fuel Gas but it does not show up in the coolant tower GUI, it stays empty. Did I something wrong? Or how can I fill the internal tank of the Coolant Tower wi

[2015-12-21 02:16] hron84 commented on #459
**Update:** I installed Auto-Import and Auto-Export upgrades on respective Coolant Tower Valves, and now it seems like to import the Fuel Gas, and **visually** outputs Fuel. However, this fuel is a ghost liquid as I cannot extract it from any liquid container. I do not know how it happens, but I tried with BC tanks and also EIO Fluid Tanks, and the WAILA shows the contained liquid, but no pipe can

[2015-12-21 06:05] iTitus commented on #459
Hmm, that is really weird.

[2015-12-21 09:13] AEnterprise commented on #459
hmm, might be a desync then? i'll take a look into reproducing it

[2015-12-21 10:52] AEnterprise commented on #459
cannot reproduce, seems this is eighter another mod messing with it or a user error
![2015-12-21_11 45 20](https://cloud.githubusercontent.com/assets/5206666/11929157/086ea24c-a7d9-11e5-8f92-9bb98c12a2e5.png)

[2015-12-21 18:47] hron84 commented on #459
@AEnterprise I see it in SSP, and I'm pretty disappointed. I saw a video about how it works, so I basically went step-by-step based on that, and the refinery worked fine, but coolant tower is not. So, refinery took the power, imported oil and produced the fuel gas. However, Coolant tower without a auto import/export module did not do anything, even if both valves displayed the info 2000 mB Fuel Ga

[2015-12-21 19:55] AEnterprise commented on #459
so you mean things are going wrong on a server? (asking to be sure)

i tried pipes (regular BC pipes not sure what you're using) and it worked fine without any auto-import/export. can you reproduce this with just the min needed mods (BC + BCA)? and why did you dissable BCA? just cause the refinery doesn't fully work you don't need to take out an entire mod

[2015-12-22 06:56] hron84 commented on #459
@AEnterprise I do not say anything about servers or clients, since - again - I play in single player (SSP not SMP). I dunno what happened.

I disabled it because it was the easiest way to remove coolant tower since it crashed the game when I tried to dismantle it. And I did not used any other important block from it yet. Also, the multiblock refinery was one of the reason why I installed this mod

[2015-12-22 06:59] hron84 commented on #459
@AEnterprise if it will work as standalone, could you help me after try to figure out which mod can cause the issue? I wouldn't like to be left alone after we reveal some mod messes up the stuff...

[2015-12-22 07:12] AEnterprise commented on #459
alright so it works in single player for me and standalone for you, i sugest you add in the mods again one by one till you find the cullpit, then we can see if there's something that can be done from my end about it

[2015-12-26 23:40] hron84 opened #460 "[CRASH] BCA and Better Storage caused a crash at SSP"
**Note:** This is a cross-mod issue, see [the other issue too](https://github.com/copygirl/BetterStorage/issues/314)

I used Semi-Automatic Duster of BuildCraft Additions (S-AD) and BetterStorage crates to work together because S-AD can output dusts automatically to a storage and I thought a crate would be a good target for this. Everything worked fine, but after dusting a tenth or twelweth (somew

[2015-12-27 08:15] copygirl commented on #460
Copying over what I responded to the issue on BS's tracker:

[2015-12-27 09:46] AEnterprise commented on #460
very weird, i thought i had a serverside check

the weirdest part is that it didn't crash on the first dust but should be realatively easy to fix

[2015-12-27 12:39] #460 closed

[2015-12-27 19:11] hron84 commented on #460
Thanks for the fix. @AEnterprise do you have an idea when I can use this fix?

[2015-12-27 19:27] AEnterprise commented on #460
i plan on putting a new version out in a bit as it's been a while since the last one, also fixed a missing texture (capitalization matters for the compiled version, not in dev)

[2016-01-24 09:56] AEnterprise commented on #459
closing as i can't reproduce and didn't get any new info on how to reproduce

if someone can provide steps for me to reproduce i'll re-open and investigate further

[2016-01-24 09:56] #459 closed

[2016-02-06 09:57] SvEgiiVEteR opened #461 "BCA shipping outdated RF api"
http://hastebin.com/egizowahen.md
Look at line 288 of the hastebin paste.

[2016-02-06 10:06] AEnterprise commented on #461
didn't know that BCA had an older version of the RF api, just remove the folder from the BCA jar and it should work, that's not the cause of the crash btw

[2016-02-06 14:14] SvEgiiVEteR commented on #461
yes I know that is not)
just I saw it in the log and decided to write.
what kind of a folder to remove from mod?

[2016-02-06 14:53] AEnterprise commented on #461
the cofh one, unless they made fundamental changes to the rf api it should just work fine

[2016-02-09 22:43] Altairon73 opened #462 "pink and black blocks"
Using latest version getting pink and black blocks in the inventory for the following;
Kinesis pipewood
Kinesis pipecobble
Robot debug tool
Hover boots

[2016-02-10 06:52] AEnterprise commented on #462
intended, the kinesis pipes are used for wordgen but get replaced instantly, debug tool is creative only and for testing only. and i don't have a texture yet.

[2016-02-10 06:52] #462 closed, assigned to nobody

[2016-03-13 05:11] DoesItDoIt opened #463 "Crash when removing Large KEB block"
Removing one block from Large KEB makes server crash and world unplayable after that - had to restore from backup.
Made a test and it seems to happen only if there is RF going through KEB, but I'm not sure.
[crash-2016-03-13_03.15.58-server.txt](https://github.com/BCA-Team/Buildcraft-Additions/files/170779/crash-2016-03-13_03.15.58-server.txt)

[2016-03-13 09:32] AEnterprise commented on #463
seems the problem is in eureka, did you remove the block manually or automated?

[2016-03-13 11:38] iTitus commented on #463
I would suggest adding Nullchecks everywhere in the Eureka code :P

[2016-03-13 11:47] iTitus commented on #463
BTW, you are using Optifine and your Player name is "Player". Are you in offline mode or did you not buy the game?

[2016-03-13 11:49] DoesItDoIt commented on #463
Block was removed manually with Kinetic Multi-tool from the same mod if it matters.
Also after a couple of tests I noticed it crushed all the time I removed a block from a lower row of KEB, although it could be a coincidence as well.
Eureka integration was disabled, because I do like this mod (really, really awesome job here - combination of BC and BCA is what a good tech mod should be), but this

[2016-03-13 11:56] DoesItDoIt commented on #463
As of the latter question - I use optifine and fastcraft as my laptop is not particularly good for gaming and I get around 5-15 fps around all the BC and BCA machinery without them, but steady 30-50 with both enabled.
About the "player" - you're utterly right about the reasons (both of your assumptions are true), but I don't use any custom launchers or modloaders but forge 10.13.4.1614 and MC orig

[2016-03-13 14:53] AEnterprise commented on #463
i suspect the offline mode is causing the player to be null, i didn't think that was possible

[2016-03-13 17:30] iTitus commented on #463
I think getExtendedProperties returns null and so the cast does not work. The null player is catched by the if-statement.

[2016-03-28 16:25] AgentK9 opened #464 "Modpack Perms"
Can I have perms for my modpack? Atlauncher, if that makes a difference

[2016-03-28 16:27] AgentK9 commented on #464
Also needed for eureka

[2016-03-28 16:55] AEnterprise commented on #464
no explicit permission needed: as stated on different places multiple times now: all my mods can be used freely in any modpacks. just make sure i get bug reports from it if there are issues (when using the latest version ofc)

[2016-03-28 16:55] #464 closed, assigned to nobody

[2016-03-28 17:08] AgentK9 commented on #464
Thanks!

[2016-04-04 16:40] AgentK9 opened #465 "No Recipes On Website"
Yeah, I know, that's what NEI is for, but it is nice for modpack makers who want to tweak recipes and such.

[2016-04-04 19:57] AEnterprise commented on #465
problem with that is the time it takes. It takes forever to gather all the screenshots, trim them and put them on the site, if someone can get me the images i can put them on but i don't have much free time and more fun ways to spend it, sorry

[2016-04-04 20:11] iTitus commented on #465
I think there is a mod for that purpose.

[2016-04-04 21:13] iTitus commented on #465
I don't remember the name though. It generated a pic of every recipe that exists on launch. This is exactly what we need.

[2016-04-05 14:22] AgentK9 commented on #465
Yeah. I'll do it, but might b a day or 2. (Not the mod, just manually)

[2016-05-05 02:22] squirrelkiller opened #466 "Sort-O-Tron not working correctly"
This is in an SSP world, but when I select the colour to paint in the Sort-O-Tron GUI it is not saving the changes when GUI is closed. Effectively making it kinda useless for it's purpose.

[2016-05-05 08:20] AEnterprise commented on #466
can you provide a log file?

[2016-05-05 09:22] squirrelkiller commented on #466
The FML-Latest log?

[2016-05-05 09:28] iTitus commented on #466
Yes please ;)

[2016-05-05 18:50] squirrelkiller commented on #466
So I loaded up an session just to show you the problem without anything else around to contaminate the log. I also recorded it so you can have the footage of the entire session (minus world load up and shut down):

https://www.youtube.com/watch?v=m5F6WsC8wrE&feature=youtu.be

I apologize for the audio I did not do proper set up before as I wanted to quickly capture the report.

Here have the logs

[2016-05-06 15:50] AgentK9 commented on #466
what modpack is this?

[2016-05-06 19:02] squirrelkiller commented on #466
@AgentK9

One I created a while back, and recently updated and released publicly for myself and others to play again: http://mods.curse.com/modpacks/minecraft/244720-buildcraftia

[2017-01-28 01:55] janagyjr commented on #461
I'm having the same issue with BCA and EnderIO
https://github.com/SleepyTrousers/EnderIO/issues/4017

[2017-01-28 09:51] AEnterprise commented on #461
sadly BCA is no longer maintained. due to a lack of time from me and the quitting of texture artists there will sadly no longer be any updates to it.

you can open the BCA jar with 7zip/winrar and remove the cofh folder from it, that will remove the shipped api

[2017-01-28 09:51] #461 closed, assigned to nobody

[2017-02-03 16:07] janagyjr commented on #461
Upgrading my Forge version to 1614 for 1.7.10 fixed the issue.

[2017-02-03 16:08] janagyjr commented on #461
Is there a possibility of someone else picking it up from you for maintenance?

[2017-02-03 18:03] AEnterprise commented on #461
i wouldn't object to someone picking up the torch and continuing the mod as long as the style and philosophy are continued

[2017-04-13 17:50] MIGA2001 opened #467 "Ender IO compatibility"
I used the addon with EnderIO and got this issue
EnderIO: Found the following problem(s) with your installation:
                  * An unsupportted old RF API is installed (1.7.10R1.0.1 from BuildcraftAdditions-1.7.10-2.2.5.jar).
                    Ender IO needs at least 1.7.10R1.0.2 and will NOT work with older versions.
                 This may have caused the error. Try reproducing the cras

[2017-04-13 18:54] AEnterprise commented on #467
i would need the full crashlog (in a gist or pastebin preferably) to know for sure but i doubt the RF api version is the cause of any crash, that's only a very minor version change

[2017-04-13 19:21] MIGA2001 commented on #467
[crash-2017-04-13_21.43.36-client.txt](https://github.com/BCA-Team/Buildcraft-Additions/files/920634/crash-2017-04-13_21.43.36-client.txt)

[2017-04-13 20:37] iTitus commented on #467
That looks like a potion ID conflict. Try to remove mods that potion or status effects one by one and it you find the culprits (there are always two sides to an id conflict) try to change the IDs in their respective configs. If that doesn't work try to ask for help on their respective issue trackers.

[2017-04-13 20:38] iTitus commented on #467
The API thing listed at the bottom is not the cause of the crash. Also BCA doesn't add potion effects.

[2017-04-14 07:47] AEnterprise commented on #467
yep potion conflicts do not have anything to do with, BCA, EIO or the RF api

[2017-04-14 07:47] #467 closed, assigned to nobody

[2017-06-24 11:33] coolgaza16 opened #468 "Blocks fall apart when placed"
i keep makeing differnt block and when i place them they fall apart into there crafting materials no idea why but very frustraiting. currently using resonant rise 3 for 1.7.10 on the at launcher

[2017-06-24 11:45] AEnterprise commented on #468
if that heapens you have not unlocked them yet, please check your engineering diary for how to unlock what blocks and your progress

[2017-06-24 11:45] #468 closed, assigned to nobody

[2018-04-28 17:23] MPeti1 opened #469 "Not working without Eureka mod"
Forge said me any version of Eureka is required, and in the log i found it's only required by this mod. Could you fix it?

[2018-04-29 08:55] AEnterprise commented on #469
this is not a bug, Eureka is a mod i made specificaly for BCA and is a required mod that hold the tech progression.